.hr-view-profile{
    width: 150px !important;
    background: rgb(224, 224, 224) !important;
    display: block !important;
    //margin-left: -400px; 
    visibility: visible !important;
}

.top-image-vp{
   margin-top: 20px;
}

.vp-name{
    font-size: 20px;
    margin-top: 20pt;
    // font-weight: 600;

    font-family: 'SF Pro Medium';
}

.vp-view-carrer{
    font-size: 12px;
    color: rgb(155, 155, 155);
    margin-top: 7pt;
    font-family: 'SF Pro Regular';
}


.box-number-vp{
    margin-top: 28px;
}

.vp-personal-inf{
    color: black;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 24px;
    font-family: 'SF Pro Medium';
}


.vp-box-icon-text{
    width: fit-content;
}

.vp-item-text{
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    margin-left: 10px;
    font-family: 'SF Pro Regular';
}

.vp-icon{
    font-size:17px;
    display: inline-block;
    vertical-align: middle;
}

.vp-box-two{
    margin-top: 16pt;
}
.view-all{
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.vp-margin-icon{
    margin-left: 18pt;
}


.box-container .item{
    float: left;
    width: 33.3%;//helps to determine number of columns, for instance 33.3% displays 3 columns
}
.item{
    list-style-type: disc;
}

.separate-blue-circle{
    display: inline-block;border-radius: 60px;
    height: 48pt;
    // width: 48pt;
    width: 10pt;
    margin-bottom: 10px;
}

.vp-ios-text-card{
    margin-top: -20px;
}

.image-camera-more {
    & img {
        width: 104px;
        height: 104px;
        border-radius: 104px;
    }
}

.group-card-row { // new-way card row
    display: flex;
    flex-wrap: wrap;
    .div-img-container{
      width: 100%;
      height: 100px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      border-radius: 10px;
      img{
        max-width: unset;
        height: 100%;
      }
    }
    .group-card {
      margin-bottom: 10px;
      margin-top: 10px;
      width: 29.3%;
      cursor: pointer;
      margin-right: 2%;
      margin-left: 2%;
    
      & img {
        border-radius: 5px;
        width: 100%;
      }
    
      & .title {
        font-size: 12px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 5px;
      }
    
      & .icon-status {
        display: flex;
        justify-content: center;
        font-size: 12px;
        color: #9b9b9b;
    
        & ion-icon {
          font-size: 15px;
        }
      }
    }
  }

ion-content{
    -webkit-overflow-scrolling: touch;
}
.container{
    margin-top: 80px;
}
.plan_header{
    font-size: 16px;
    font-family: 'SF Pro Medium';
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0px;
}
.data-text-vp{
    font-size: 14px;
    font-family: 'SF Pro Medium';
}
.blue-text{
    font-size: 12px;
    font-family: 'SF Pro Regular';
}
.data-circle-vp{
    font-size: 14px;
    font-family: 'SF Pro Heavy';
}