.hr-view-profile{
    width: 150px !important;
    background: rgb(224, 224, 224) !important;
    display: block !important;
    //margin-left: -400px; 
    visibility: visible !important;
}

.top-image-vp{
    margin-top: 88pt;
}

.vp-name{
    font-size: 20pt;
    margin-top: 20pt;
    font-weight: 600;
}

.vp-view-carrer{
    font-size: 12pt;
    color: rgb(155, 155, 155);
    margin-top: 7pt;
}


.box-number-vp{
    margin-top: 56pt;
}

.vp-personal-inf{
    color: black;
    font-size: 16pt;
    margin-top: 65pt;
    margin-bottom: 24pt;
    font-weight: 600;
}


.vp-box-icon-text{
    width: fit-content;
}

.vp-item-text{
    display: inline-block;
    vertical-align: middle;
    font-size: 12pt;
    margin-left: 10px;
}

.vp-icon{
    font-size:18pt;
    display: inline-block;
    vertical-align: middle;
}

.vp-box-two{
    margin-top: 16pt;
}
.view-all{
    text-align: right;
}

.vp-margin-icon{
    margin-left: 18pt;
}


.box-container .item{
    float: left;
    width: 33.3%;//helps to determine number of columns, for instance 33.3% displays 3 columns
}
.item{
    list-style-type: disc;
}

.separate-blue-circle{
    display: inline-block;border-radius: 60px;
    height: 48pt;
    width: 48pt;
    margin-bottom: 10px;
}

.vp-ios-text-card{
    margin-top: -20px;
}

.image-camera-more {
    & img {
        width: 138px;
        height: 138px;
        border-radius: 138px;
    }
}

.group-card-row { // new-way card row
    display: flex;
    flex-wrap: wrap;
    .div-img-container{
      width: 100%;
      height: 100px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      border-radius: 10px;
      img{
        max-width: unset;
        height: 100%;
      }
    }
    .group-card {
      margin-bottom: 10px;
      margin-top: 10px;
      width: 29.3%;
      cursor: pointer;
      margin-right: 2%;
      margin-left: 2%;
    
      & img {
        border-radius: 5px;
        width: 100%;
      }
    
      & .title {
        font-size: 12px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 5px;
      }
    
      & .icon-status {
        display: flex;
        justify-content: center;
        font-size: 12px;
        color: #9b9b9b;
    
        & ion-icon {
          font-size: 15px;
        }
      }
    }
  }