[col-1] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 14.285714285714286%;
    width: 14.285714285714286%;
    max-width: 14.285714285714286%;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.container {
    margin: 80px 0px 7em 0px;
    margin-bottom: 7em;
}

.selectedDay {
    background: var(--ion-color-primary);
    padding: 5px 4px;
    color: white;
    border-radius: 50%;
    position: relative;
    top: -4px;
}


.groupCard.bgColorBlue {
    --background: var(--ion-color-blue);
}

.groupCard.bgColorOrange {
    --background: var(--ion-color-orange);
}

.weekDays {
    color: #00000066;
}

.event-bullet {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 3px;
}

// .event-bullet-colored {

// }

.event-bullet-colored.colorPurpal {
    background-color: var(--ion-color-group);
}

.event-bullet-colored.colorBlue {
    background-color: var(--ion-color-blue);
}

.event-bullet-colored.colorOrange {
    background-color: var(--ion-color-orange);
}


.event-bullet-white {
    background-color: white;
}

.brHeight {
    line-height: 2px;
    display: block;
    margin: -7px 0;
    content: " ";
}

.selected-event-bullet {
    height: 5px;
    width: 5px;
    background-color: var(--ion-color-primary);
    border-radius: 50%;
    display: inline-block;
}

.calendar-body {
    background: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -webkit-box-shadow: 0px 11px 18px -6px rgba(191, 189, 191, 1);
    -moz-box-shadow: 0px 11px 18px -6px rgba(191, 189, 191, 1);
    box-shadow: 0px 11px 10px -6px rgba(191, 189, 191, 1);
    position: relative;
}

.calendar-body:after {
    content: '';
    width: 35px;
    height: 4px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    background: #c8c7cc;
    border-radius: 2px;
}

.cardGroupHeading {
    color: #9b9b9b;
    margin-left: 10px;
    margin-bottom: 25px;
}

.cardGroupOuter {
    float: left;
    width: 100%;
    padding: 0px 10px;
    margin-top: 25px;
}

.groupCard {
    --background: var(--ion-color-group);
    border-radius: 15px;
    position: relative;
    margin: 12px 0px;

    ion-card-subtitle {
        color: #fff;
    }

    ion-card-title {
        color: #fff;
        font-size: 20px;
        margin-top: 5px;
        margin-right: 10px;

    }

    ion-card-header {
        padding: 12px 25px;
    }
}

.iconCode {
    position: absolute;
    right: 15px;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    font-size: 32px;
}

.bgColorBlue .iconCode:after {
    background: var(--ion-color-blue);
}

.bgPurpal .iconCode:after {
    background: var(--ion-color-group);
}

.bgColorOrange .iconCode:after {
    background: var(--ion-color-orange);
}

.iconCode:after {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.currentDate {
    float: left;
    width: 34px;
    height: 33px;
}

.dateOuter {
    position: relative;
    float: left;
    width: 100%;
}

.dotOuter {
    position: absolute;
    bottom: -10px;
    left: 54%;
    transform: translateX(-50%);
    width: 100%;
}

.dayRep {
    margin-bottom: 5px;
}

.arrowforward {
    text-align: right;

    ion-icon {
        transform: rotate(90deg);
    }
}

.arrowBack {
    ion-icon {
        transform: rotate(90deg);
    }
}