<ion-content>
  <!-- Generated template for the CalendarComponent component -->
  <toolbar slot="fixed" title="{{currentMonth}} {{currentYear}}" [back]="true"></toolbar>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ion-row class="calendar-month">
          <ion-col class='arrowBack' col-2 (click)="goToLastMonth()">
            <!-- <ion-icon name="arrow-back"></ion-icon> -->
            Previous
          </ion-col>
          <!-- <ion-col col-8>{{currentMonth}} {{currentYear}}</ion-col> -->
          <ion-col class='arrowforward' col-2 (click)="goToNextMonth()">
            <!-- <ion-icon name="arrow-forward"></ion-icon> -->
            Next
          </ion-col>
        </ion-row>
        <div class="calendar-body">
          <ion-grid class="grid">
            <ion-row class="calendar-weekday">
              <ion-col class="weekDays" col-1 *ngFor="let weekday of weekdays">{{weekday}}</ion-col>
            </ion-row>
            <ion-row class="calendar-date">
              <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month"></ion-col>
              <ion-col class='dayRep' col-1 *ngFor="let day of daysInThisMonth" (click)="currentDate = day">
                <div class='dateOuter'>
                  <span [ngClass]="{'selectedDay': currentDate.day == day.day}" class="currentDate">{{day.day}}
                  </span>
                  <br class="brHeight" />
                  <div class='dotOuter'>
                    <span *ngIf="day.groups.length > 0" class="event-bullet event-bullet-colored colorPurpal "></span>
                    <span *ngIf="day.studentPlans.length > 0"
                      class="event-bullet event-bullet-colored colorBlue "></span>
                    <span *ngIf="day.recommendedPlans.length > 0"
                      class="event-bullet event-bullet-colored colorOrange "></span>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <div class="dash"></div>
        </div>
        <div class='cardGroupOuter' *ngIf="currentDate">
          <p class='cardGroupHeading'
            *ngIf="currentDate.groups.length > 0 || currentDate.recommendedPlans.length > 0 || currentDate.studentPlans.length > 0">
            Plans joined by you</p>
          <p class="cardGroupHeading"
            *ngIf="currentDate.groups.length == 0 && currentDate.recommendedPlans.length == 0 && currentDate.studentPlans.length == 0">
            No plans found for this date</p>
          <ion-card class='groupCard bgPurpal' *ngFor="let plan of currentDate.groups"
            (click)="goToItemPlan(plan,'group_plan')">
            <ion-card-header>
              <ion-card-subtitle>{{plan.plan_date | date: 'E, d LLL yyyy, hh:mm a'}}</ion-card-subtitle>
              <ion-card-title>{{plan.title}}</ion-card-title>
            </ion-card-header>
            <ion-icon class='iconCode' name="code"></ion-icon>
          </ion-card>
          <ion-card class='groupCard bgColorBlue' *ngFor="let plan of currentDate.studentPlans"
            (click)="goToItemPlan(plan,'')">
            <ion-card-header>
              <ion-card-subtitle>{{plan.plan_date | date: 'E, d LLL yyyy, hh:mm a'}}</ion-card-subtitle>
              <ion-card-title>{{plan.title}}</ion-card-title>
            </ion-card-header>
            <ion-icon class='iconCode' name="code"></ion-icon>
          </ion-card>
          <ion-card class='groupCard bgColorOrange' *ngFor="let plan of currentDate.recommendedPlans"
            (click)="goToItemPlan(plan,'')">
            <ion-card-header>
              <ion-card-subtitle>{{plan.plan_date | date: 'E, d LLL yyyy, hh:mm a'}}</ion-card-subtitle>
              <ion-card-title>{{plan.title}}</ion-card-title>
            </ion-card-header>
            <ion-icon class='iconCode' name="code"></ion-icon>
          </ion-card>
        </div>
      </div>
    </div>
  </div>
</ion-content>