<ion-content>
  <div (click)="goBack()" class="btn-back-content-item" [ngClass]="{'btn-back-content-item-ios':_globalServ?.iosDivice}">
    <span (click)="goBack()" class="btn-back-item fas fa-chevron-left"></span>
  </div>
  <div class="main-item-image" style="position: relative" >
      <app-img-with-loader style="position: static"
      [src]="url+'/get-image/'+getItem?.article?.image" 		 
      (click)="presentModal()"  >
     </app-img-with-loader>	    
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">

        <div class="item-title">
          <h2>
            <span *ngIf="_globalServ?.language == 'en'">{{getItem?.article?.name_EN}}</span>
            <span *ngIf="_globalServ?.language == 'es'">{{getItem?.article?.name_ES}}</span>
          </h2>
        </div>

        <div class="box-center-full four-icons">
          <div *ngFor="let item of getItem?.article?.Places | slice:0:1;">
             <div class="box-blue-circle" *ngIf="item?.website" (click)="goToSite(item?.website)">
                <img width="48px" height="48px" src="assets/img/website.png">
                <div class="blue-text">{{ 'city-guide-item.Website' | translate }}</div>
             </div>
          </div>
          <div *ngFor="let item of getItem?.article?.Places | slice:0:1;">
             <div class="box-blue-circle" *ngIf="item?.phone" (click)="callWithNumber(item?.phone)">
                <img width="48px" height="48px" src="assets/img/call.png">
               <div class="blue-text">{{ 'city-guide-item.Call' | translate }}</div>
             </div>
          </div>
          <div class="box-blue-circle" *ngFor="let item of getItem?.article?.Places | slice:0:1;">
            <a href="https://www.google.com/maps/place/{{item?.latitude}},{{item?.longitude}}">
              <img width="48px" height="48px" src="assets/img/direction.png">
              <div class="blue-text">{{ 'city-guide-item.Directions' | translate }}</div>
            </a>
          </div>
          <div class="box-blue-circle" (click)="goToCreatePlan(getItem)">
            <img width="48px" height="48px" src="assets/img/plan.png">
            <div class="blue-text">{{ 'city-guide-item.createPlan' | translate }}</div>
          </div>
        </div>

        <table>
          <tr class="weight-600">
            <td>
              <ion-icon class="icon-item" name="information-circle"></ion-icon>
            </td>
            <td class="title-item">{{ 'city-guide-item.details' | translate }}</td>
          </tr>
          <tr>
            <td></td>
            <td class="secondary-text">
              <span
                *ngIf="_globalServ?.language == 'en' && (truncating && getItem?.article?.description_EN.length > limit)">{{getItem?.article?.description_EN | truncate : limit}}</span>
              <span
                *ngIf="_globalServ?.language == 'es' && (truncating && getItem?.article?.description_ES.length > limit)">{{getItem?.article?.description_ES | truncate : limit}}</span>

              <span
                *ngIf="_globalServ?.language == 'en' && (!truncating && getItem?.article?.description_EN.length > limit)">{{getItem?.article?.description_EN}}</span>
              <span
                *ngIf="_globalServ?.language == 'es' && (!truncating && getItem?.article?.description_ES.length > limit)">{{getItem?.article?.description_ES}}</span>
            </td>
          </tr>
          <tr *ngIf="truncating">
            <td></td>
            <td class="blue-text size-18-pt" (click)="truncating = false">{{ 'city-guide-item.readMore' | translate }}
            </td>
          </tr>
          <tr *ngIf="!truncating">
            <td></td>
            <td class="blue-text size-18-pt" (click)="truncating = true">{{ 'city-guide-item.readless' | translate }}
            </td>
          </tr>
        </table>

        <table>
          <tr class="weight-600">
            <td>
              <ion-icon class="icon-item" name="clock"></ion-icon>
            </td>
            <td class="title-item">{{ 'city-guide-item.openingHours' | translate }}</td>
          </tr>
          <tbody *ngFor="let item of getItem?.article?.Places | slice:0:1;" class="secondary-text weight-600">
            <tr class="secondary-text">
            <td></td>
            <td><b>{{getItem?.article?.hours[0]}} </b></td>
            </tr>
             <tr class="secondary-text">
             <td></td>
            <td style="    font-weight: initial">{{getItem?.article?.hours[1]}} </td>
            </tr>
             <tr class="secondary-text">
             <td></td>
            <td><B>{{getItem?.article?.hours[2]}}</B></td>
            </tr>
            <tr class="secondary-text">
             <td></td>
            <td style="    font-weight: initial">{{getItem?.article?.hours[3]}}</td>
            </tr>
             <tr class="secondary-text">
             <td></td>
            <td><B>{{getItem?.article?.hours[4]}}</B></td>
            </tr>
             <tr class="secondary-text">
             <td></td>
            <td style="    font-weight: initial">{{getItem?.article?.hours[5]}}</td>
            </tr>
             <!-- <tr class="secondary-text">
             <td></td>
            <td style="    font-weight: initial">{{getItem?.article?.hours[1]}} </td>
            </tr> -->
            <!-- <td *ngIf="_globalServ?.language == 'en'">{{item?.hours_EN}} </td> -->
            <!-- <td *ngIf="_globalServ?.language == 'es'">{{item?.hours_ES}} </td> -->
          </tbody>
         
        </table>

        <table>
          <tr class="weight-600">
            <td>
              <ion-icon class="icon-item" name="pin"></ion-icon>
            </td>
            <td class="title-item">{{ 'city-guide-item.location' | translate }}</td>
          </tr>
          <tbody *ngFor="let item of getItem?.article?.Places | slice:0:1;">
            <tr class="secondary-text">
              <td></td>
              <td *ngIf="_globalServ?.language == 'en'">{{item?.name_EN}}</td>
              <td *ngIf="_globalServ?.language == 'es'">{{item?.name_ES}}</td>
            </tr>
           
            <tr class="secondary-text">
              <td></td>
              <td>{{item?.street}} {{item?.number}}</td>
            </tr>
            <tr>
              <td></td>
              <td>
                <ion-chip class="btn-blue-general">
                  <ion-label>{{ 'city-guide-item.Website' | translate }}</ion-label>
                </ion-chip>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="box-map-one">
          <div id="map" class="map-one" #map></div>
        </div>

        <table>
          <tr class="weight-600">
            <td>
              <ion-icon class="icon-item" name="ios-bus"></ion-icon>
            </td>
            <td class="title-item">{{ 'city-guide-item.howToGetThere' | translate }}</td>
          </tr>
          <tr class="secondary-text weight-600">
            <td></td>
            <td>{{ 'city-guide-item.bus' | translate }}</td>
          </tr>
          <tr *ngFor="let item of getItem?.article?.Places | slice:0:1;" class="secondary-text">
            <td></td>
            <td>{{item?.bus}} (<span *ngIf="_globalServ?.language == 'en'">{{item?.name_EN}}</span>)</td>
          </tr>
          <tr class="secondary-text weight-600">
            <td></td>
            <td>{{ 'city-guide-item.metro' | translate }}</td>
          </tr>
          <tr *ngFor="let item of getItem?.article?.Places | slice:0:1;" class="secondary-text">
            <td></td>
            <td>{{item?.metro}} (<span *ngIf="_globalServ?.language == 'en'">{{item?.name_EN}}</span>)</td>
          </tr>
        </table>

        <table class="margin-last-table">
          <tr class="weight-600">
            <td>
              <ion-icon class="icon-item" name="ios-share"></ion-icon>
            </td>
            <td class="title-item">{{ 'city-guide-item.share' | translate }}</td>
          </tr>
          <tr class="secondary-text" *ngFor="let item of getItem?.article?.Places | slice:0:1;">
            <td></td>
            <td>
              <ion-chip class="btn-facebook" (click)="facebookShare()">
                <ion-label>Facebook</ion-label>
              </ion-chip>
              <ion-chip class="btn-twitter" (click)="twitterShare()">
                <ion-label>Twitter</ion-label>
              </ion-chip>
              <a (click)="mailShare()" target="_top">
              <ion-chip class="btn-email">
                <ion-label>Email</ion-label>
              </ion-chip></a>
              <ion-chip class="btn-whatsapp" (click)="whatsappShare()">
                <ion-label>WhatsApp</ion-label>
              </ion-chip>
               <ion-chip class="btn-instagram" (click)="instagramShare()">
                <ion-label>Instagram</ion-label>
              </ion-chip>
            </td>
          </tr>
          <tr>
        </table>

      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</ion-content>