/*.btn-back-content{
    height: 75px;
    position: fixed;
    margin-top: 15px;
    margin-left: 15px;
    z-index: 9999;
    //background: rgba(255,255,255,0.8);.
    text-align: center;
}

.btn-back{
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px rgba(255,255,255,0.8);
    padding: 3px 3px;
    width: 21px;
    background: rgba(255,255,255,0.8);
}*/

.box-center-full{
    margin-top: 35px;
    margin-bottom: 25px;
}

/*
.item-avatar-card.hydrated{
    --inner-border-width: 0;
    --padding-start: 0;
}
*/

.map-one{
   margin-top: 20px;
}

table{
    margin-top: 24pt;
}

.four-icons {
    display: flex;
    justify-content: space-evenly;
}

.four-icons .box-blue-circle {
    margin: unset;
}

.four-icons .icon-blue {
    font-size: 20px;
    height: 40px;
    width: 40px;
    padding-top: 10px;
}

h2{
    font-family: 'SF Pro Heavy';
    font-size: 20px;
}
.blue-text{
    font-size: 12px;
    margin-top: 10px;
    // font-family: 'SF Pro Heavy';
}
.description{
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 70px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*
.sc-ion-card-md-h {

    margin-left: 0px; 
     margin-right: 0px;
     margin-top: 0px; 
     border-radius: 0px; 
}
*/
.btn-instagram{
    font-size: 14px;
    background: #EBC8DC;
    color: #C13584;
}
// .btn-facebook,
// .btn-twitter,
// .btn-email,
// .btn-whatsapp,
// .btn-blue-general{
//     line-height: 0;
//     padding: 12px 22px;
//     height: auto;
//     margin: 5px 5px 5px 0;
// }
