<ion-content
  [scrollEvents]="true"
  (ionScrollStart)="logScrollStart()"
  (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()"
>
  <toolbar slot="fixed" [title]="showFixedHeader() ? ('groups.groups' | translate) : ''" [back]="true"></toolbar>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h1 class="title">{{ title | translate}}</h1>
      </div>
      <div class="col-md-12">
        <div class="all-group-header">
        </div>
        <div class="group-card-row" *ngIf="groups.length !== 0">
          <div class="text-center group-card" *ngFor="let rGroup of groups; let i=index" (click)="goToGroupDetail(rGroup)">
              <div class="div-img-container">
                <img src="{{rGroup?.image}}" />
              </div>
              <h5 class="title">{{rGroup?.title}}</h5>
              <div class="icon-status">
                <ion-icon name="ios-person"></ion-icon>
                <span class="status">{{rGroup?.group_members_count}}</span>
              </div>
          </div>
        </div>
        <div class="group-card-row" *ngIf="groups.length === 0">
          <div class="empty-text">
            {{'groups.noGroups' | translate}}
          </div>
        </div>
      </div>
    </div>  
  </div>
</ion-content>