<ion-content [scrollEvents]="true" (ionScrollStart)="logScrollStart()" (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">
  <tab-menu slot="fixed"></tab-menu>
  <toolbar slot="fixed" [title]="showFixedHeader() ? ('groups.groups' | translate) : ''" [back]="true" (click)="goBack()"></toolbar>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h1 class="title">{{'groups.groups' | translate}}</h1>
      </div>
      <div class="col-md-12">
        <div class="all-group-header">
          <h4 class="title">{{'groups.recommendedGroups' | translate}}</h4>
          <!-- (click)="isViewAllForRecommend = !isViewAllForRecommend" -->
          <span class="view-all" (click)="viewAllGroup('recommended')">
            {{isViewAllForRecommend ? ('groups.hideAll' | translate) : ('groups.seeAll' | translate)}}
          </span>
        </div>
        <div class="group-card-row" *ngIf="recommendedGroups.length !== 0">
          <div class="text-center group-card" *ngFor="let rGroup of recommendedGroups; let i=index"
            (click)="goToGroupDetail(rGroup)">
            <div *ngIf="i < getNumberOfLimitForGroups('recommendedGroups')">
              <div class="div-img-container">
                <app-img-with-loader [src]="rGroup?.image">
                </app-img-with-loader>
              </div>
              <h5 class="title">
                <span style="font-size: 20px;
                  font-family: 'SF Pro Heavy';" *ngIf="rGroup?.private != undefined && rGroup?.private">
                  <ion-icon class="icon-item" name="lock" style="font-size: 12px;margin-right: 0px;"></ion-icon>
                </span>
                {{rGroup?.title}}
              </h5>
              <div class="icon-status">
                <ion-icon name="ios-person"></ion-icon>
                <span class="status">{{rGroup?.group_members_count}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="group-card-row" *ngIf="recommendedGroups.length === 0">
          <div class="empty-text">
            {{'groups.noGroups' | translate}}
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="all-group-header">
          <h4 class="title">{{'groups.joinedByYou' | translate}}</h4>
          <!-- (click)="isViewAllForGroups = !isViewAllForGroups" -->
          <span class="view-all" (click)="viewAllGroup('your')">
            {{isViewAllForGroups ? ('groups.hideAll' | translate) : ('groups.seeAll' | translate)}}
          </span>
        </div>
        <div class="group-card-row" *ngIf="allGroups.length !== 0">
          <div class="text-center group-card" *ngFor="let allGroup of allGroups; let i=index"
            (click)="goToGroupDetail(allGroup)">
            <div class="card-wrap" *ngIf="i < getNumberOfLimitForGroups('groups')">
              <div class="div-img-container">
                <app-img-with-loader [src]="allGroup?.image">
                </app-img-with-loader>
              </div>
              <h5 class="title">
                <span style="font-size: 20px;
                  font-family: 'SF Pro Heavy';" *ngIf="allGroup?.private != undefined && allGroup?.private">
                  <ion-icon class="icon-item" style="font-size: 12px;margin-right: 0px;" name="lock"></ion-icon>
                </span>
                {{allGroup?.title}}</h5>
              <div class="icon-status">
                <ion-icon name="ios-person"></ion-icon>
                <span class="status">{{allGroup?.group_members_count}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="group-card-row" *ngIf="allGroups.length === 0">
          <div class="empty-text">
            {{'groups.noGroups' | translate}}
          </div>
        </div>
      </div>

      <!-- Change Yagnesh-->
      <div class="col-md-12">
        <div class="all-group-header">
          <h4 class="title">{{'groups.explore' | translate}}</h4>
          <span class="view-all" (click)="viewAllGroup('explore')">
            {{('groups.seeAll' | translate)}}
          </span>
        </div>
        <div class="group-card-row" *ngIf="allActiveGroups.length !== 0">
          <div class="text-center group-card" *ngFor="let allactiveGroup of allActiveGroups; let i=index"
            (click)="goToGroupDetail(allactiveGroup)">
            <div class="card-wrap">
              <div class="div-img-container">
                <app-img-with-loader [src]="allactiveGroup?.image">
                </app-img-with-loader>
              </div>
              <h5 class="title">
                <span style="font-size: 20px;
                  font-family: 'SF Pro Heavy';" *ngIf="allactiveGroup?.private != undefined && allactiveGroup?.private">
                  <ion-icon class="icon-item" name="lock" style="font-size: 12px;margin-right: 0px;"></ion-icon>
                </span>
                {{allactiveGroup?.title}}</h5>
              <div class="icon-status">
                <ion-icon name="ios-person"></ion-icon>
                <span class="status">{{allactiveGroup?.group_members_count}}</span>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="group-card-row" *ngIf="allactiveGroup.length === 0">
            <div class="empty-text">
              {{'groups.noGroups' | translate}}
            </div>
          </div> -->
      </div>
    </div>
  </div>
</ion-content>