
<ion-spinner [style.width]="spinnerWidth"  *ngIf="loading"  name="crescent"></ion-spinner>		

<ion-img [style.opacity]="loading ? 0 : 1" 
    [src]="src" (ionImgDidLoad)="loading = false" [class]="class"
    (click)="click.emit()" (ionError)="error.emit()"></ion-img>