.Tabs {
	object-fit: contain;
	position: absolute;
	bottom: -1px;
	z-index: 9;
	width: 100%;
}

.custom-tabs{
	margin: 3% 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.colorButton{
  color:gray;
}

.selected {
	color: #009cd7; 
}