
	<img src="/assets/img/tabs@3x.png" class="Tabs" *ngIf="_globalServ.showIcon">

	<div class="Tabs" style="    margin: 3%;margin-bottom: 24px;" *ngIf="_globalServ.showIcon">
		<ion-button fill="clear" class="colorButton" (click)="goto('search');"
			[ngClass]="{'selected': _globalServ.select=='search'}">
			<ion-icon slot="icon-only" name="search"></ion-icon>
		</ion-button>


		<ion-button fill="clear" class="colorButton" (click)="goto('notifications');"
			[ngClass]="{'selected': _globalServ.select=='notifications'}">
			<ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
		</ion-button>

		<ion-button fill="clear" class="colorButton" style="    margin-left: 26%;    " (click)="showMore();"
			[ngClass]="{'selected': _globalServ.select=='add'}">
			<ion-icon slot="icon-only" name="add"></ion-icon>
		</ion-button>

		<ion-button fill="clear" class="colorButton" (click)="goto('more');"
			[ngClass]="{'selected': _globalServ.select=='more'}">
			<ion-icon slot="icon-only" name="menu"></ion-icon>
		</ion-button>


	</div>
