.column-left-title-cropp {
    text-align: left;
    padding-top: 25px;
    //padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    font-size:16pt;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .column-center-title-cropp {
    text-align: center;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    //color: white;
    font-size:18pt;
    //line-height: 21pt;
  }

  .column-right-title-cropp {
    text-align: right;
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 15px;
    //padding-left: 15px;
    font-size:16pt;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  ion-toolbar{
      height: 75px;
      position: fixed;
      //--background: black;
  }

  .change-pass-label{
      color: rgb(155, 155, 155);
      font-size: 16pt;
  }


