<ion-content (ionScroll)="logScrolling($event)" [scrollEvents]="true">
  <div class="btn-back-content-item" *ngIf="!pageTitleName" [ngClass]="{'btn-back-content-item-ios':_globalServ?.iosDivice}">
    <span (click)="goBack()" class="btn-back-item fas fa-chevron-left"></span>
  </div>
  <toolbar slot="fixed" *ngIf="pageTitleName" [back]="true"
  [title]="pageTitleName ? getItem?.title : ''"></toolbar>
 
  <div class="main-item-image" style="position: relative">
    <app-img-with-loader style="position: static" [src]="url + getItem?.image" (click)="presentModal()">
    </app-img-with-loader>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">

        <div>
          <!-- //change yagnesh -->
          <h2>
            <span style="font-size: 20px;
              font-family: 'SF Pro Heavy';" *ngIf="getItem?.private == true">
              <ion-icon class="icon-item" name="lock"></ion-icon>
            </span>
            <span style="font-size: 20px;
           font-family: 'SF Pro Heavy';">
              {{getItem?.title}}</span>
              <span style="float: right;" (click)="presentActionSheet(getItem?.id)"
              *ngIf="_globalServ.idUser == getItem?.fk_ie_user_id">...</span>
          </h2>
        </div>
        <div class="box-center-full">
          <div *ngIf="joined == true" class="box-blue-circle" (click)="joinPlan()">
            <img width="48px" height="48px" src="../../../assets/img/checked.png" />
            <p class="secondary-text" style="color: #179ed5; margin-top: 5px; margin-bottom: 0px;">
              {{'plan-item.joined' | translate}}</p>
          </div>
          <div *ngIf="joined != true" class="box-blue-circle" (click)="joinPlan()">
            <img width="48px" height="48px" src="../../../assets/img/plus.png" />
            <p class="secondary-text" style="color: #179ed5; margin-top: 5px; margin-bottom: 0px;">
              {{'plan-item.join' | translate}}</p>
          </div>
        </div>
        <table>
          <tr class="weight-600">
            <td>
              <ion-icon class="icon-item" name="information-circle"></ion-icon>
            </td>
            <td class="title-item">{{ 'plan-item.details' | translate }}</td>
          </tr>
          <tr>
            <td></td>
            <td class="secondary-text" style="display: block; margin: 5px 0px; white-space: pre-line"
              *ngIf="!read_flag">
              {{getItem?.description | slice :0:250}}</td>
            <td class="secondary-text" style="display: block; margin: 5px 0px; white-space: pre-line" *ngIf="read_flag">
              {{getItem?.description}}</td>
          </tr>
          <tr>
            <td></td>
            <td class="blue-text size-18-pt" *ngIf="getItem?.description ?.length > 250">
              <ion-label (click)="readMore()" *ngIf="!read_flag">{{ 'plan-item.readMore' | translate }}</ion-label>
              <ion-label (click)="readLess()" *ngIf="read_flag">{{ 'plan-item.readless' | translate }}</ion-label>
            </td>
          </tr>
        </table>

        <table>
          <tr class="weight-600">
            <td>
              <ion-icon class="icon-item" name="apps" mode="md"></ion-icon>
            </td>
            <td class="title-item">{{ 'plan-item.category' | translate }}</td>
          </tr>
          <tr>
            <td></td>
            <div *ngIf="_globalServ?.language == 'en'" style="display: flex;flex-direction: row;">
              <td class="secondary-text" *ngFor="let category of getItem?.Supercategories; let i = index"
                style="display: block; margin: 5px 0px;">{{category.name_EN}}<span
                  *ngIf="i < getItem?.Supercategories.length - 1">,</span> &nbsp;</td>
            </div>

            <div *ngIf="_globalServ?.language == 'es'" style="display: flex;flex-direction: row;">
              <td class="secondary-text" *ngFor="let category of getItem?.Supercategories"
                style="display: block; margin: 5px 0px;">{{category.name_ES}}<span
                  *ngIf="i < getItem?.Supercategories.length - 1">,</span> &nbsp;</td>
            </div>
          </tr>
        </table>

        <table>
          <tr class="weight-600">
            <td>
              <ion-icon class="icon-item" name="star"></ion-icon>
            </td>
            <td class="title-item">{{ 'plan-item.createBy' | translate }}</td>
          </tr>
          <tr>
            <td></td>
            <td class="secondary-text" style="display: block; margin: 5px 0px;">
              <ion-item (click)="goToViewProfile()" lines="none" class="item-user">
                <ion-avatar slot="start">
                  <img *ngIf="_globalServ?.org == 'CEU' && getItem?.Ceu_User?.image != null"
                    src="{{urlImageProfile}}/{{getItem?.Ceu_User?.image}}">
                  <img *ngIf="_globalServ?.org == 'CEU' && getItem?.Ceu_User?.image == null"
                    src="../../../assets/img/empty_avatar.png">
                  <img *ngIf="_globalServ?.org == 'IE' && getItem?.IE_User?.image != null"
                    src="{{urlImageProfile}}/{{getItem?.IE_User?.image}}">
                  <img *ngIf="_globalServ?.org == 'IE' && getItem?.IE_User?.image == null"
                    src="../../../assets/img/empty_avatar.png">
                </ion-avatar>
                <ion-label *ngIf="getItem?.Ceu_User" style="color: #888; font-size: 13px;">
                  {{getItem?.Ceu_User?.first_name}} {{getItem?.Ceu_User?.last_name}}</ion-label>
                <ion-label *ngIf="getItem?.IE_User.first_name" style="color: #888; font-size: 13px;">
                  {{getItem?.IE_User?.first_name}} {{getItem?.IE_User?.last_name}}</ion-label>
                <ion-label *ngIf="getItem?.IE_User.name" style="color: #888; font-size: 13px;">
                  {{getItem?.IE_User?.name}}</ion-label>
              </ion-item>
            </td>
          </tr>
          <!-- <tr>
            <td></td>
            <td>
              <ion-chip class="btn-blue-general">
                <ion-label>Instagram</ion-label>
              </ion-chip>
            </td>
          </tr> -->
        </table>


        <!-- <table>
          <tr class="weight-600">
            <td>
              <ion-icon class="icon-item" name="star"></ion-icon>
            </td>
            <td class="title-item">{{'group-create.admin' | translate}}</td>
          </tr>
          <tr>
            <td></td>
            <td class="secondary-text" style="display: block; margin: 5px 0px;">
              <ion-item (click)="goToViewProfile()" lines="none" class="item-user">
                <ion-avatar slot="start">
                  <img *ngIf="_globalServ?.org == 'CEU' && getItem?.Ceu_User?.image != null"
                    src="{{urlImageProfile}}/{{getItem?.Ceu_User?.image}}">
                  <img *ngIf="_globalServ?.org == 'CEU' && getItem?.Ceu_User?.image == null"
                    src="../../../assets/img/empty_avatar.png">
                  <img *ngIf="_globalServ?.org == 'IE' && getItem?.IE_User?.image != null"
                    src="{{urlImageProfile}}/{{getItem?.IE_User?.image}}">
                  <img *ngIf="_globalServ?.org == 'IE' && getItem?.IE_User?.image == null"
                    src="../../../assets/img/empty_avatar.png">
                </ion-avatar>
                <ion-label *ngIf="getItem?.Ceu_User" style="color: #888; font-size: 13px;">
                  {{getItem?.Ceu_User?.first_name}} {{getItem?.Ceu_User?.last_name}}</ion-label>
                <ion-label *ngIf="getItem?.IE_User.first_name" style="color: #888; font-size: 13px;">
                  {{getItem?.IE_User?.first_name}} {{getItem?.IE_User?.last_name}}</ion-label>
                <ion-label *ngIf="getItem?.IE_User.name" style="color: #888; font-size: 13px;">
                  {{getItem?.IE_User?.name}}</ion-label>
              </ion-item>
            </td>
          </tr>
        </table> -->

        <table>
          <tr class="weight-600">
            <td>
              <ion-icon class="icon-item" name="checkmark-circle"></ion-icon>
            </td>
            <td class="title-item">{{ 'plan-item.going' | translate }}</td>
          </tr>
          <tr>
            <td></td>
            <div *ngIf="_globalServ?.org == 'IE'">
              <td class="secondary-text" style="display: block; margin: 5px 0px;"
                *ngIf="getItem?.IE_Participants.length == 0">
                0 people going
              </td>
              <td class="secondary-text" style="display: block; margin: 5px 0px;"
                *ngIf="getItem?.IE_Participants.length != 0">
                <ion-item lines="none" class="item-user">
                  <ion-avatar *ngFor="let item of getItem?.IE_Participants" slot="start">
                    <img *ngIf="_globalServ?.org == 'IE' && item?.IE_User?.image != null && item?.IE_User?.image != ''"
                      [src]="item?.IE_User?.image">
                    <img *ngIf="_globalServ?.org == 'IE' && item?.IE_User?.image == null || item?.IE_User?.image == ''"
                      src="assets/img/empty_avatar.png">
                  </ion-avatar>
                  <span class="grey-circle" *ngIf="remainingUsers != 0">+{{remainingUsers}}</span>
                </ion-item>
              </td>
            </div>

            <div *ngIf="_globalServ?.org == 'CEU'">
              <td class="secondary-text" style="display: block; margin: 5px 0px;"
                *ngIf="getItem?.Participants.length == 0">
                0 people going
              </td>

              <td class="secondary-text" style="display: block; margin: 5px 0px;"
                *ngIf="getItem?.Participants.length != 0">
                <ion-item lines="none" class="item-user">
                  <ion-avatar *ngFor="let item of getItem?.Participants" slot="start">
                    <img
                      *ngIf="_globalServ?.org == 'CEU' && item?.Ceu_User?.image != null && item?.Ceu_User?.image != ''"
                      [src]="item?.Ceu_User?.image">
                    <img
                      *ngIf="_globalServ?.org == 'CEU' && item?.Ceu_User?.image == null || item?.Ceu_User?.image == ''"
                      src="assets/img/empty_avatar.png">
                  </ion-avatar>
                  <span class="grey-circle" *ngIf="remainingUsers != 0">+{{remainingUsers}}</span>
                </ion-item>
              </td>
            </div>
          </tr>
        </table>


        <table>
          <tr class="weight-600">
            <td>
              <img src="assets/img/office-chair.png" class="icon-item" width="20px">
            </td>
            <td class="title-item">{{ 'plan-item.seats' | translate }}</td>
          </tr>
          <tr>
            <td></td>
            <td class="secondary-text" style="display: block; margin: 5px 0px;" *ngIf="getItem?.seats">
              {{getItem?.seats}} {{ 'plan-item.left' | translate }}</td>
            <td class="secondary-text" style="display: block; margin: 5px 0px;" *ngIf="!getItem?.seats">
              {{ 'plan-item.unlimited' | translate }}</td>
          </tr>
        </table>

        <table>
          <tr class="weight-600">
            <td>
              <ion-icon class="icon-item" name="clock"></ion-icon>
            </td>
            <td class="title-item">{{ 'plan-item.dateAndTime' | translate }}</td>
          </tr>
          <tr class="secondary-text">
            <td></td>
            <td style="display: block; margin: 5px 0px;">{{getItem?.plan_date | date:'mediumDate'}}</td>
            <!-- <td style="display: block; margin: 5px 0px;">{{getDate(getItem?.plan_date)}}</td> -->
          </tr>
          <tr class="secondary-text">
            <td></td>
            <!-- <td style="display: block; margin: 5px 0px;">{{getItem?.plan_date | date:'shortTime'}}</td> -->
            <td style="display: block; margin: 5px 0px;">{{getTime(getItem?.plan_date)}}</td>
          </tr>
          <tr>
            <!--<tr class="secondary-text">
            <td></td>
            <td>10:00 - 11:00</td>
          </tr>-->
          <tr>
            <td></td>
            <td>
              <ion-chip class="btn-blue-general">
                <ion-label *ngIf="!AddedToCalender" (click)="AddToCalender(getItem)">
                  {{ 'plan-item.addToCalendar' | translate }}</ion-label>
                <ion-label *ngIf="AddedToCalender">{{ 'plan-item.addedToCalendar' | translate }}</ion-label>
              </ion-chip>
            </td>
          </tr>
        </table>

        <table>
          <tr class="weight-600">
            <td>
              <ion-icon class="icon-item" name="pin"></ion-icon>
            </td>
            <td class="title-item">{{ 'plan-item.location' | translate }}</td>
          </tr>
          <tr class="secondary-text">
            <td></td>
            <td *ngIf="_globalServ?.language == 'en'" style="display: block; margin: 5px 0px;">{{item?.Place?.name_EN}}
            </td>
            <td *ngIf="_globalServ?.language == 'es'" style="display: block; margin: 5px 0px;">{{item?.Place?.name_ES}}
            </td>
          </tr>
          <tr>
          <tr class="secondary-text">
            <td></td>
            <td style="display: block; margin: 5px 0px;">{{getItem?.address}}</td>
          </tr>
          <tr>
            <td></td>
            <td>
              <!-- <ion-chip class="btn-blue-general" (click)="goToLink()">
                  <ion-label>{{ 'plan-item.website' | translate }}</ion-label>
                </ion-chip> -->
              <ion-chip class="btn-blue-general" (click)="openGoogleMaps(getItem?.latitude, getItem?.longitude)">
                <ion-label>{{ 'plan-item.directions' | translate }}</ion-label>
              </ion-chip>
            </td>
          </tr>
        </table>
        <div [style.display]="getControlsOnStyleDisplay()" class="box-map-one">
          <div id="map" class="map-one" #map></div>
        </div>

        <table>
          <tr class="weight-600">
            <td>
              <ion-icon name="flag" mode="md" class="icon-item"></ion-icon>
            </td>
            <td class="title-item">{{ 'plan-item.meetingPoint' | translate }}</td>
          </tr>
          <tr>
            <td></td>
            <td class="secondary-text" style="display: block; margin: 5px 0px;">{{getItem?.meeting_point}}</td>
          </tr>
        </table>

        <table>
          <tr class="weight-600">
            <td>
              <ion-icon class="icon-item" name="ios-pricetag"></ion-icon>
            </td>
            <td class="title-item">{{ 'plan-item.price' | translate }}</td>
          </tr>
          <tr class="secondary-text">
            <td></td>
            <td style="display: block; margin: 5px 0px;"
              *ngIf="(getItem?.Place?.price_ES == null || getItem?.Place?.price_ES == '') && (getItem?.Place?.price_EN == null || getItem?.Place?.price_EN == '')">
              Free</td>
            <td style="display: block; margin: 5px 0px;" *ngIf="_globalServ?.language == 'en'">
              {{getItem?.Place?.price_EN}}</td>
            <td style="display: block; margin: 5px 0px;" *ngIf="_globalServ?.language == 'es'">
              {{getItem?.Place?.price_ES}}</td>
          </tr>
          <tr>
        </table>

        <table class="margin-last-table">
          <tr class="weight-600">
            <td>
              <ion-icon class="icon-item" name="ios-share"></ion-icon>
            </td>
            <td class="title-item">{{ 'plan-item.share' | translate }}</td>
          </tr>
          <tr class="secondary-text">
            <td></td>
            <td>
              <ion-chip class="btn-facebook" (click)="facebookShare()">
                <ion-label>Facebook</ion-label>
              </ion-chip>
              <ion-chip class="btn-twitter" (click)="twitterShare()">
                <ion-label>Twitter</ion-label>
              </ion-chip>
              <a (click)="mailShare()" target="_top">
                <ion-chip class="btn-email">
                  <ion-label>Email</ion-label>
                </ion-chip>
              </a>
              <ion-chip class="btn-whatsapp" (click)="whatsappShare()">
                <ion-label>WhatsApp</ion-label>
              </ion-chip>
              <ion-chip class="btn-instagram" (click)="instagramShare()">
                <ion-label>Instagram</ion-label>
              </ion-chip>
            </td>
          </tr>
          <tr>
        </table>

        <table *ngIf="comments.length != 0" style="width: 100%">
          <tr class="weight-600">
            <td>
              <div>
                <span class="fas fa-comment" style="margin-right: 8px;margin-top: 3px;margin-left: 8px;"></span>
                <ion-label class="title-item">{{ 'plan-item.comment' | translate }}</ion-label>
              </div>

            </td>
            <td class="title-item"></td>
          </tr>
          <!-- <tr> -->
          <tbody *ngIf="!comment_flag">
            <tr *ngFor="let comment of (comments | slice: 0:3); let i = index">
              <!-- <td></td> -->
              <td class="comment-body">
                <img class="comment-avatar" src="{{comment.image}}" />
                <div class="comment-text-div">
                  <span *ngIf="comment.name" class="comment-name"
                    style="margin-right: 10px;font-weight: bold">{{comment.name}}</span>
                  <span class="comment-text">{{comment.comment}}</span>
                </div>
              </td>
              <td style="text-align: right; padding-right: 12px">
                <!-- <span class="secondary-text">{{comment.duration}}</span> -->
                <span class="secondary-text">{{timeDiff(comment.date)}}</span>
              </td>
            </tr>
          </tbody>
        </table>

        <div *ngIf="comments.length > 3">
          <ion-label *ngIf="!comment_flag" (click)="view_all_comments()" class="view_lbl">
            {{ 'group-detail.viewMore' | translate }}{{comments.length-3}} {{ 'group-detail.comments' | translate }}
          </ion-label>
          <ion-label *ngIf="comment_flag" (click)="view_less_comments()" class="view_lbl">
            {{ 'group-detail.viewLess' | translate }}</ion-label>
        </div>

        <table class="add-comment-section">
          <td width="40px;"></td>
          <td style="padding-left: 10px;"><span class="add-comment"
              (click)="writeComment()">{{ 'group-detail.addAComment' | translate }}</span></td>
        </table>

        <!-- <td class="secondary-text" style="display: block; margin: 5px 0px;padding-left: 15px;">
                    <div *ngIf="!comment_flag">
                      <ion-item (click)="goToViewProfile()" lines="none" class="item-user" *ngFor="let comment of (comments | slice : 0: 3)">
                        <ion-avatar slot="start">
                          <img *ngIf="comment?.image != '' && comment?.image != null" src="{{comment.image}}" />
                          <img *ngIf="comment?.image == '' || comment?.image == null" src="../../../assets/img/empty_avatar.png" />
                        </ion-avatar>
                        <ion-label style="font-size: 15px;font-weight: bold;margin-right: 10px;font-family: 'SF Pro Light'; margin-top: 0px;">{{comment?.name}} <span style="font-weight: normal;font-size: 14px;">{{comment?.comment}}</span></ion-label>
                      </ion-item>
                    </div>

                    <div *ngIf="comment_flag">
                      <ion-item (click)="goToViewProfile()" lines="none" class="item-user" *ngFor="let comment of comments">
                        <ion-avatar slot="start">
                          <img *ngIf="comment?.image != '' && comment?.image != null" src="{{comment.image}}" />
                          <img *ngIf="comment?.image == '' || comment?.image == null" src="../../../assets/img/empty_avatar.png" />
                        </ion-avatar>
                        <ion-label style="font-size: 15px;font-weight: bold;margin-right: 10px;font-family: 'SF Pro Light'; margin-top: 0px;">{{comment?.name}} <span style="font-weight: normal;font-size: 14px;">{{comment?.comment}}</span></ion-label>
                      </ion-item>
                    </div>

                    <div *ngIf="comments.length > 3">
                      <ion-label *ngIf="!comment_flag" (click)="view_all_comments()" class="view_lbl">View More {{comments.length-3}} Comments</ion-label>
                      <ion-label *ngIf="comment_flag" (click)="view_less_comments()" class="view_lbl">View Less</ion-label>
                    </div>
                  
                    <ion-item lines="none">
                      <ion-label style="font-size: 15px; margin-left: 45px;" (click)="writeComment()">{{ 'group-detail.addAComment' | translate }}</ion-label>
                    </ion-item>
                  </td> -->
        <!-- </tr> -->
        <!-- </table> -->
       
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</ion-content>