<ion-content>
  <tab-menu slot="fixed"></tab-menu>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8" style="padding: 0px !important;">
        <h1 class="title" style="padding-left: 16px;margin-bottom: 16px;">{{ 'notifications.notifications' | translate }}</h1>

        <ion-segment mode="md" [(ngModel)]="selectedType" (ionChange)="segmentChanged($event)">
          <ion-segment-button value="all">
            <ion-label>{{ 'notifications.all' | translate }}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="request">
            <ion-label>{{ 'notifications.request' | translate }}</ion-label>
          </ion-segment-button>
        </ion-segment>
        <div *ngIf="selectedType == 'all'" style="padding: 16px;margin-bottom: 50px;">

          <ion-label class="no_noti" *ngIf="notifications.length == '0'">You don't have any new notifications
          </ion-label>
          <!--TODAY-->
          <div class="title-noti" *ngIf="isTodayNotification && notifications?.length > 0 ">
            {{ 'notifications.todayCL' | translate }}
          </div>
          <div class="box-noti-item" *ngIf="isTodayNotification  && notifications?.length > 0">
            <div *ngFor="let todayNotification of notifications; let i=index">
              <ion-row *ngIf="todayNotification.date_group === 'TODAY'">
                <ion-col size="10" (click)="goThroughNotification(todayNotification)">
                  <ion-item lines="none">
                    <ion-avatar slot="start">
                      <img src="{{todayNotification.author_image}}">
                    </ion-avatar>
                    <ion-label>
                      <h2 class="noti-one">{{todayNotification.message}}</h2>
                      <p class="noti-two">{{getDuration(todayNotification.created)}}</p>
                    </ion-label>
                    <!-- <div class="row-noti-recent">
                    <ion-icon name="ios-close" (click)="readNotification(todayNotification)"></ion-icon>
                  </div> -->
                  </ion-item>
                </ion-col>
                <ion-col class="column-center" size="2">
                  <div class="row-noti-recent" (click)="readNotification(todayNotification)">
                    <ion-icon name="ios-close"></ion-icon>
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </div>
          <hr class="hr-noti" *ngIf="isTodayNotification  && notifications?.length > 0">
          <!--THIS WEEK-->
          <div class="title-noti" *ngIf="week_notification  && notifications?.length > 0">
            {{ 'notifications.thisWeekCL' | translate }}
          </div>
          <div class="box-noti-item">
            <div class="transation-item" *ngFor="let weekNotification of notifications; let i=index">
              <ion-row *ngIf="weekNotification.date_group === 'THIS WEEK'">
                <ion-col size="10" (click)="goThroughNotification(weekNotification)">
                  <ion-item lines="none">
                    <ion-avatar slot="start">
                      <img src="{{weekNotification.author_image}}">
                    </ion-avatar>
                    <ion-label>
                      <h2 class="noti-one">{{weekNotification.message}}</h2>
                      <p class="noti-two">{{getDuration(weekNotification.created)}}</p>
                    </ion-label>
                    <!-- <div class="row-noti-recent">
                    <ion-icon name="ios-close" (click)="readNotification(weekNotification)"></ion-icon>
                  </div> -->
                  </ion-item>
                </ion-col>
                <ion-col class="column-center" size="2">
                  <div class="row-noti-recent" (click)="readNotification(weekNotification)">
                    <ion-icon name="ios-close"></ion-icon>
                  </div>
                </ion-col>


              </ion-row>
            </div>
          </div>
          <hr class="hr-noti" *ngIf="week_notification  && notifications?.length > 0">
          <!--THIS MONTH-->
          <div class="title-noti" *ngIf="month_notification  && notifications?.length > 0">
            {{ 'notifications.thisMonthCL' | translate }}
          </div>
          <div class="box-noti-item">
            <div *ngFor="let monthNotification of notifications; let i=index">
              <ion-row *ngIf="monthNotification.date_group === 'THIS MONTH'">
                <ion-col size="10" (click)="goThroughNotification(monthNotification)">
                  <ion-item lines="none">
                    <ion-avatar slot="start">
                      <img src="{{monthNotification.author_image}}">
                    </ion-avatar>
                    <ion-label>
                      <h2 class="noti-one">{{monthNotification.message}}</h2>
                      <p class="noti-two">{{getDuration(monthNotification.created)}}</p>
                    </ion-label>
                    <!-- <div class="row-noti-recent">
                    <ion-icon name="ios-close" (click)="readNotification(monthNotification)"></ion-icon>
                  </div> -->
                  </ion-item>
                </ion-col>
                <ion-col class="column-center" size="2">
                  <div class="row-noti-recent" (click)="readNotification(monthNotification)">
                    <ion-icon name="ios-close"></ion-icon>
                  </div>
                </ion-col>

              </ion-row>
            </div>
          </div>
          <div class="margin-bottom"></div>
        </div>

        <div *ngIf="selectedType == 'request'" style="padding: 16px;margin-bottom: 50px;">

          <ion-label class="no_noti" *ngIf="notifications.length == '0'">You don't have any new requests
          </ion-label>
          <!--TODAY-->
          <div class="title-noti" *ngIf="isTodayNotification  && notifications?.length > 0">
            {{ 'notifications.todayCL' | translate }}
          </div>
          <div class="box-noti-item" *ngIf="isTodayNotification && notifications?.length > 0">
            <div *ngFor="let todayNotification of notifications; let i=index">
              <ion-row *ngIf="todayNotification.date_group === 'TODAY'">
                <ion-col (click)="goThroughNotification(todayNotification)">
                  <ion-item lines="none">
                    <ion-avatar slot="start">
                      <img src="{{todayNotification.author_image}}">
                    </ion-avatar>
                    <ion-label>
                      <h2 class="noti-one">{{todayNotification.message}}</h2>
                      <ion-row>
                        <ion-col style="width: 50%;">
                          <ion-button shape="round" fill="outline" (click)="declineNotification(todayNotification)">{{ 'notifications.Decline' | translate }}
                          </ion-button>
                        </ion-col>
                        <ion-col style="width: 50%;">
                          <ion-button shape="round" fill="outline" (click)="acceptNotification(todayNotification)">{{ 'notifications.Accept' | translate }}</ion-button>
                        </ion-col>
                      </ion-row>
                      <p class="noti-two">{{getDuration(todayNotification.created)}}</p>
                      </ion-label>
                  </ion-item>
                </ion-col>

              </ion-row>
            </div>
          </div>
          <hr class="hr-noti" *ngIf="isTodayNotification && notifications?.length > 0">
          <!--THIS WEEK-->
          <div class="title-noti" *ngIf="week_notification && notifications?.length > 0">
            {{ 'notifications.thisWeekCL' | translate }}
          </div>
          <div class="box-noti-item">
            <div class="transation-item" *ngFor="let weekNotification of notifications; let i=index">
              <ion-row *ngIf="weekNotification.date_group === 'THIS WEEK'">
                <ion-col (click)="goThroughNotification(weekNotification)">
                  <ion-item lines="none">
                    <ion-avatar slot="start">
                      <img src="{{weekNotification.author_image}}">
                    </ion-avatar>
                    <ion-label>
                      <h2 class="noti-one">{{weekNotification.message}}</h2>
                      <ion-row>
                        <ion-col style="width: 50%;">
                          <ion-button shape="round" fill="outline" (click)="declineNotification(weekNotification)">{{ 'notifications.Decline' | translate }}
                          </ion-button>
                        </ion-col>
                        <ion-col style="width: 50%;">
                          <ion-button shape="round" fill="outline" (click)="acceptNotification(weekNotification)">{{ 'notifications.Accept' | translate }}</ion-button>
                        </ion-col>
                      </ion-row>
                      <p class="noti-two">{{getDuration(weekNotification.created)}}</p>
                    </ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </div>
          </div>
          <hr class="hr-noti" *ngIf="week_notification  && notifications?.length > 0">
          <!--THIS MONTH-->
          <div class="title-noti" *ngIf="month_notification  && notifications?.length > 0">
            {{ 'notifications.thisMonthCL' | translate }}
          </div>
          <div class="box-noti-item">
            <div *ngFor="let monthNotification of notifications; let i=index">
              <ion-row *ngIf="monthNotification.date_group === 'THIS MONTH'">
                <ion-col (click)="goThroughNotification(monthNotification)">
                  <ion-item lines="none">
                    <ion-avatar slot="start">
                      <img src="{{monthNotification.author_image}}">
                    </ion-avatar>
                    <ion-label>
                      <h2 class="noti-one">{{monthNotification.message}}</h2>
                      <ion-row>
                        <ion-col style="width: 50%;">
                          <ion-button shape="round" fill="outline" (click)="declineNotification(monthNotification)">{{ 'notifications.Decline' | translate }}
                          </ion-button>
                        </ion-col>
                        <ion-col style="width: 50%;">
                          <ion-button shape="round" fill="outline" (click)="acceptNotification(monthNotification)">{{ 'notifications.Accept' | translate }}</ion-button>
                        </ion-col>
                      </ion-row>
                      <p class="noti-two">{{getDuration(monthNotification.created)}}</p>
                    </ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </div>
          </div>
          <div class="margin-bottom"></div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</ion-content>