<ion-content>
  <ion-slides pager="{{pager}}" #slides (ionSlideDidChange)="check()" style="max-height: -webkit-fill-available;
  " class="height">
    <ion-slide style="height: 745px;">
      <img src="assets/img/16.4 - Welcome Tour 1.png" style="width: 100%;">
      <img src="assets/img/FAB copy 3.png" style="    position: fixed;
    /* height: 23%; */
    margin-top: 39%;
        width: 125px;
    height: 125px;">
      <p class="text">Create a private community,
        plans & groups</p>
    </ion-slide>
    <ion-slide style="height: 745px;">
      <img src="assets/img/16.5 - Welcome Tour 2.png" style="width: 100%;">
      <img src="assets/img/FAB copy 2.png" style="    position: fixed;
    /* height: 23%; */
    margin-top: 39%;
           width: 101px;
    height: 101px;">
      <p class="text">Join, interact, explore, participate, live your VIVE experience</p>
    </ion-slide>
    <ion-slide style="height: 745px;">
      <img src="assets/img/16.6 - Welcome Tour 3.png" style="width: 100%;">
      <img src="assets/img/FAB copy.png" style="    position: fixed;
    /* height: 23%; */
    margin-top: 39%;
          width: 101px;
    height: 101px;">
      <p class="text">The city is waiting for you - don't miss anything and enjoy it with your friends!</p>
    </ion-slide>
    <ion-slide style="height: 745px;">
      <img src="assets/img/16.7 - Welcome Tour 4.png" style="width: 100%;">
      <img src="assets/img/FAB4.png" style="    position: fixed;
    /* height: 23%; */
    margin-top: 39%;
            width: 101px;
    height: 101px;">
      <p class="text">The best discounts in the city - benefit from being an IE student</p>
    </ion-slide>

  </ion-slides>
  <!-- <ion-button class="swiper-button-prev swiper-button-black" (click)="prevSlide()">Skip
  </ion-button>
  <ion-button class="swiper-button-next swiper-button-black" (click)="nextSlide()">Next</ion-button> -->
  <div>
    <ion-button fill="clear" *ngIf="!last" float-left (click)="skip()" class="swiper-button-prev" style="color:black">
      Skip</ion-button>
    <ion-button *ngIf=" !last" fill="clear" float-right color="primary" class="swiper-button-next" (click)="next()">
      Next</ion-button>
  </div>
  <ion-row text-center *ngIf=" last">
    <img src="assets/img/default@3x.png" style="margin-left: auto;
    margin-right: auto;
    /* height: 12%; */
    position: fixed;
    width: 27%;
    bottom: 23px;
    z-index: 9;
    left: 34%;" (click)="loginIE()">
  </ion-row>
  <!-- <button type="button" (click)="onDirectLogin()">for Browser</button> -->
</ion-content>