.container{
    padding-left: 16px !important;
    padding-right: 16px !important;
}
.title{
    margin-top: 78px;
    margin-bottom: 28px;
}

.image-camera-more{
    // margin-top: 13pt;
    margin-bottom: 15pt;
}
.profile-img{
    width: 80px !important;
    height: 80px !important;
    margin-bottom: 15px !important;
}

.content-more{
    margin-top: 38pt;
}

.more-item{
    color: rgb(95,99,105);
    line-height: 18pt;
}

.first-more-item{
    margin-top: 16pt;
}

.others-more-item{
    // margin-top: 30pt;
    margin-bottom: 13pt;
    height: 51px;
}

.margin-bottom{
    height: 70pt;
}

.more-name{
    font-size: 20px;
    font-weight: 600;
    line-height: 24pt;
    display: block;
}

.more-view-profile{
    font-size: 16px;
    color: rgb(155, 155, 155);
    line-height: 5pt;
    margin-top: 5pt;
    display: block;
}

.more-icon{
    font-size:18pt;
    display: inline-block;
    vertical-align: middle;
}

.more-item-text{
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    margin-left: 10px;
}

.more-box-icon-text{
    width: fit-content;
}