.secondary-text{
    margin-top: 10px;
}

.button-one{
    margin-top: 15PX;
}

.preferences-top{
    margin-top: 20px;
}

ion-content{
	-webkit-overflow-scrolling: touch;
}
.container{
	margin-top: 80px;
}

// Mausam
.main_div{
    width: 100%;

    .single_div{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px;
        justify-content: space-between;


        .blue_back{
            width: 18px;
            height: 18px;
            border: 2px solid#009cd7;
            border-radius: 2px;
            position: relative;
            background: #009cd7;
            ion-icon{
                font-size: 40px !important;
                color: white;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }
}