// .group-card-row { // new-way card row
//   display: flex;
//   flex-wrap: wrap;

//   .group-card {
//     margin-bottom: 10px;
//     margin-top: 10px;
//     width: 29.3%;
//     cursor: pointer;
//     margin-right: 2%;
//     margin-left: 2%;
  
//     & img {
//       border-radius: 5px;
//       width: 100%;
//     }
  
//     & .title {
//       font-size: 12px;
//       font-weight: bold;
//       margin-top: 10px;
//       margin-bottom: 5px;
//     }
  
//     & .icon-status {
//       display: flex;
//       justify-content: center;
//       font-size: 12px;
//       color: #9b9b9b;
  
//       & ion-icon {
//         font-size: 15px;
//       }
//     }
//   }
// }

.group-card-row { // new-way card row
  display: flex;
  flex-wrap: wrap;
  .div-img-container{
    width: 100%;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    img{
      max-width: unset;
      height: 100%;
    }
  }
  .group-card {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 29.3%;
    cursor: pointer;
    margin-right: 2%;
    margin-left: 2%;
  
    & img {
      border-radius: 5px;
      width: 100%;
    }
  
    & .title {
      font-size: 12px;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 5px;
    }
  
    & .icon-status {
      display: flex;
      justify-content: center;
      font-size: 12px;
      color: #9b9b9b;
  
      & ion-icon {
        font-size: 15px;
      }
    }
  }
}

ion-content{
	-webkit-overflow-scrolling: touch;
}
.container{
	margin-top: 80px;
}
.noPlan{
  padding-top: 60px;
  padding-left: 20px;
  color: gray;
  padding-right: 20px;
  text-align: center
}