<ion-content>
    <toolbar slot="fixed" [back]="true" title="{{firstName}}'s Groups"></toolbar>
    <div class="container">
        <div *ngIf="groups?.length === 0" class="noPlan">{{firstName}}{{ 'view-profile.noGroupsJoined' | translate }}</div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <!-- <div style="margin-top: 40pt;"></div> -->
          
          <!-- <div class="group-card-row" *ngIf="groups.length !== 0">
            <div class="text-center group-card" *ngFor="let group of groups; let i=index">
              <img src="{{group.image}}" />
              <h5 class="title">{{group.title}}</h5>
              <div class="icon-status">
                <ion-icon name="ios-person"></ion-icon>
                <span class="status">{{group.group_members_count}}</span>
              </div>
            </div>
          </div> -->

          <div class="group-card-row">
            <div class="text-center group-card" *ngFor="let group of groups; let i=index">
              <div>
                  <div class="div-img-container">
                      <app-img-with-loader
                      [src]="group?.image">
                      </app-img-with-loader>                
                  </div>                 
                <h5 class="title">{{group?.title}}</h5>
                <div class="icon-status">
                  <ion-icon name="ios-person"></ion-icon>
                  <span class="status">{{group?.group_members_count}}</span>
                </div>
              </div>
            </div>
          </div>
   
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </ion-content>