<ion-content>
	<toolbar  slot="fixed" [title]="'plan-create.price' | translate" [inputChanges]="valid" [back]="true" (click)="goBack()" [price]="true">
	</toolbar>
	<div class="container settings-screen">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<ion-item-divider mode="md" style="padding-left: 28px;">
					<ion-input (ionInput)="_keyUp()" [(ngModel)]="price" placeholder="0,00 €"
						(ionChange)="get()" >
					</ion-input>
				</ion-item-divider>
				<ion-item-divider mode="md" style="padding-left: 28px;">
					<ion-checkbox [(ngModel)]="free" (ionChange)="getFree()"></ion-checkbox>
					<ion-label margin style="font-size: large;
						font-family: sans-serif;
						color: black;">{{ 'plan-create.free' | translate }}</ion-label>


				</ion-item-divider>

			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</ion-content>