<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">

	<tab-menu slot="fixed"></tab-menu>


	<!-- [ngClass]="{'ios-fab':_globalServ?.iosDivice,'android-fab':_globalServ?.androidDivice}" -->
	<toolbar slot="fixed" [setting]="true" [calendar]="true" (filterEmit)="openFilter()" (calendarEmit)="openCalender()"
		[title]="pageTitleName? ('plan-list.plans' | translate) : ''"></toolbar>
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8" style="padding-right: 8px;padding-left: 8px;">
				<h1 class="title">{{ 'plan-list.plans' | translate }}</h1>
				<ion-row style="display: flex; align-items: baseline;">
					<ion-col [ngClass]="isMyPlans ? 'secondary-text view-all' : 'weight-600'" style="text-align: left;"
						size="6" (click)="isMyPlans = false">{{ 'plan-list.recommended' | translate }}</ion-col>
					<ion-col [ngClass]="isMyPlans ? 'weight-600' : 'secondary-text view-all'" style="text-align: right;"
						size="6" (click)="showMyPlans()">{{ 'plan-list.myPlans' | translate }}</ion-col>
				</ion-row>
				<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
					<ion-refresher-content pullingIcon="arrow-dropdown" pullingText="" refreshingSpinner="circles"
						refreshingText="">
					</ion-refresher-content>
				</ion-refresher>
				<div *ngIf="!_globalServ?.listPlanHighlight?.recommended_plans && !_globalServ?.listPlanHighlight?.recommended_plans?.length && !isMyPlans"
					class="spinner-div">
					<ion-spinner name="lines"></ion-spinner>
				</div>

				<div *ngIf="_globalServ?.listPlanHighlight?.recommended_plans?.length != 0 && !isMyPlans">
					<ion-slides style="width: 100%;" [pager]="true"
						*ngIf="_globalServ?.listPlanHighlight?.recommended_plans && !isMyPlans">
						<ion-slide *ngFor="let item of _globalServ?.listPlanHighlight?.recommended_plans"
							style="width: 100%;">
							<plan-card style="margin-top: 30pt;" [dataPlan]="item" style="width: 100%;"></plan-card>
						</ion-slide>
					</ion-slides>
				</div>
				<div *ngIf="_globalServ?.listPlanHighlight?.recommended_plans?.length == 0 && !isMyPlans">
					<ion-label
						style="display: block;margin-left: 5px;font-family: SF Pro Regular;font-size: 14px;margin-bottom: 10px;">
						{{ 'plan-list.noRecommended' | translate }}</ion-label>
				</div>

				<!--<div *ngIf="!isMyPlans" style="margin-top: 66pt;"></div>-->
				<div *ngIf="!_globalServ?.listPlanFiltered?.plans && !_globalServ?.listPlanFiltered?.plans?.length && !isMyPlans"
					class="spinner-div">
					<ion-spinner name="lines"></ion-spinner>
				</div>
				<!-- <div *ngIf="_globalServ?.listPlanFiltered?.plans && !isMyPlans">
						<div *ngFor="let item of _globalServ?.listPlanFiltered?.plans">
							<plan-card style="margin-top: 30pt;" [dataPlan]="item"></plan-card>
						</div>
					</div> -->

				<ion-virtual-scroll *ngIf="_globalServ?.listPlanFiltered?.plans.length > 0 && !isMyPlans"
					[items]="_globalServ?.listPlanFiltered?.plans" approxItemHeight="320px">
					<plan-card *virtualItem="let item" [dataPlan]="item"></plan-card>
				</ion-virtual-scroll>

				<ion-row *ngIf="!isMyPlans && ieClubSpinner">
					<ion-col class="weight-600" style="margin-top: 10pt;" size="6">Club plans</ion-col>
				</ion-row>
				<div *ngIf="(!getClubPlans && !isMyPlans) && ieClubSpinner " class="spinner-div">
					<ion-spinner name="lines"></ion-spinner>
				</div>

				<!-- <div *ngIf="getClubPlans && !isMyPlans && ieClubSpinner">
						<div *ngFor="let item of getClubPlans">
							<plan-card style="margin-top: 30pt;" [dataPlan]="item"></plan-card>
						</div>
					</div> -->

				<ion-virtual-scroll *ngIf="getClubPlans && !isMyPlans && ieClubSpinner" [items]="getClubPlans"
					approxItemHeight="320px">
					<plan-card *virtualItem="let item" [dataPlan]="item"></plan-card>
				</ion-virtual-scroll>

				<!-- <div *ngIf="isMyPlans" style="margin-top: 66pt;"></div> -->
				<ion-row *ngIf="isMyPlans">
					<ion-col class="weight-600" size="6">{{ 'plan-list.myPlans' | translate }}</ion-col>
				</ion-row>
				<div *ngIf="!getMyPlans && !ieClubSpinner" class="spinner-div" style="padding-bottom: 50px;">
					<!-- <ion-spinner name="lines"></ion-spinner> -->
				</div>
				<!-- <div *ngIf="getMyPlans && isMyPlans">
						<div *ngFor="let item of getMyPlans">
							<plan-card style="margin-top: 30pt;" [dataPlan]="item"></plan-card>
						</div>
					</div> -->

				<ion-virtual-scroll *ngIf="getMyPlans && isMyPlans" [items]="getMyPlans" approxItemHeight="320px">
					<plan-card *virtualItem="let item" [dataPlan]="item"></plan-card>
				</ion-virtual-scroll>

			</div>
			<div class="col-md-2"></div>
		</div>
	</div>

</ion-content>