.view-all{
	text-align: right;
}

.spinner-div {
	text-align: center;
}


	.title{
		margin-top: 0px;
		margin-left: 3px;
	}

ion-fab{
        margin-bottom: 19px;
}
ion-content{
	-webkit-overflow-scrolling: touch;
}
.container{
	margin-top: 80px;
	padding-bottom: 60px;
}

.col-md-8{
	margin-bottom: 40px;
}
