.spinner-div {
  text-align: center;
  margin: 15px;
}
h1{
  margin-bottom: 5px;
  margin-top: 1px;
}
.title{
  font-size: 30px;
  font-family: 'SF Pro Bold';
  letter-spacing: -0.72px;
}
ion-content{
	-webkit-overflow-scrolling: touch;
}
.container{
	margin-top: 80px;
}
.col-md-8{
  padding-bottom: 100px;
}

