.hr-pc{
    width: 1500px !important;
    background: rgb(224, 224, 224) !important;
    display: block !important;
    margin-left: -400px; 
    visibility: visible !important;
    margin-bottom: 0;
    margin-top: 0;
}

.pc-margin-top{
    margin-top: 34pt;
    margin-bottom: 20pt;
}

.success-container {
    height: 100vh;

    .msgicon {
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        & .icon {
            width: 101px;
            height: 101px;
            border-radius: 101px;
            border: solid rgb(0, 156, 215);
            color: rgb(0, 156, 215);
            text-align: center;
            line-height: 118px;
            
            & ion-icon {
                font-size: 55px;
            }
        }

        & .comment {
            margin-top: 40px;
        }
    }
}
