<ion-content style="position: initial;">
	<toolbar slot="fixed" [title]="'group-create.addadmin' | translate" [back]="true" [searchMembers]="true"
		(memberKeyChange)="memberKeyChange($event)" [price]="true">
	</toolbar>
	<div class="container invite-screen">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="invite" *ngFor="let person of groupPeoples | filter:keyword; let i=index">
					<img class="invite-avatar" src="{{person.image}}" />
					<ion-item (click)="changeStatus(person?.id)" lines="none">
						<ion-label>{{person?.name}}</ion-label>
						<ion-checkbox [checked]="person?.value === 1" slot="end"></ion-checkbox>
					</ion-item>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
		
	</div>
</ion-content>
