<ion-toolbar>

  <ion-row>
    <!-- <ion-col *ngIf="showArrow == true" class="row-back" size="2">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </ion-col> -->
    <ion-col size="{{searchbarSize}}">
      <ion-searchbar (keyup)="kuSearch($event)" class="searchbar" mode="ios" showCancelButton="focus"
        (ionFocus)="onFocus()" (ionClear)="onClear()" (ionChange)="search_data()" (ionCancel)="onCancel()" (ionBlur)="showTabMenus($event)"
        cancelButtonText="{{'search.cancelButtonText' | translate }}" placeholder="{{'search.search' | translate }}">
      </ion-searchbar>
    </ion-col>
  </ion-row>
</ion-toolbar>
<ion-content>
  <tab-menu slot="fixed"></tab-menu>
  <div class="container search-container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <ng-scrollbar *ngIf="showRecent != true" [trackX]="true" [trackY]="false">
          <div style="display: flex;flex-direction: row; width: max-content" class="scroll-content">
            <div>
              <ion-chip (click)="getAll()" [ngClass]="{'chip-active':selectAll}" class="chip-pasive" color="primary">
                <ion-label>{{ 'search.all' | translate }}</ion-label>
              </ion-chip>
              <ion-chip (click)="getPeople()" [ngClass]="{'chip-active':selectPeople}" class="chip-pasive"
                color="primary">
                <ion-label>{{ 'search.people' | translate }}</ion-label>
              </ion-chip>
              <ion-chip (click)="getStudentPlan()" [ngClass]="{'chip-active':selectStudentPlan}" class="chip-pasive"
                color="primary">
                <ion-label>{{ 'search.studentPlan' | translate }}</ion-label>
              </ion-chip>
              <ion-chip (click)="getGroupPlans()" [ngClass]="{'chip-active':selectgroupplan}" class="chip-pasive"
                color="primary">
                <ion-label style="text-transform: capitalize">{{ 'search.groupPlan' | translate }}</ion-label>
              </ion-chip>
              <ion-chip (click)="getEvents()" [ngClass]="{'chip-active':selectEvents}" class="chip-pasive"
                color="primary">
                <ion-label>{{ 'search.events' | translate }}</ion-label>
              </ion-chip>
              <ion-chip (click)="getCityAgenda()" [ngClass]="{'chip-active':selectcityagenda}" class="chip-pasive"
                color="primary">
                <ion-label>{{ 'search.cityAgenda' | translate }}</ion-label>
              </ion-chip>
              <ion-chip (click)="getCityGuide()" [ngClass]="{'chip-active':selectcityguide}" class="chip-pasive"
                color="primary">
                <ion-label>{{ 'search.cityGuide' | translate }}</ion-label>
              </ion-chip>
              <ion-chip (click)="getOfferDiscount()" [ngClass]="{'chip-active':selectOfferDiscount}" class="chip-pasive"
                color="primary">
                <ion-label>{{ 'search.offersAndDiscount' | translate }}</ion-label>
              </ion-chip>
            </div>
          </div>
        </ng-scrollbar>

        <!--RECENT SEARCHES-->
        <!-- *ngIf="showRecent == true"  -->
        <div *ngIf="getListPeople?.length == 0 && getListStudentPlan?.length == 0 && getGroupPlan?.length == 0 && getListEvent?.length == 0 && getCityAgendas?.length == 0 && getCityGuides?.length == 0 && getListOfferDiscount?.length == 0">
          <div style="text-align: center;" class="title-search">No results found</div>
        </div>
        <div *ngIf="showRecent">
          <div class="title-search recent">
            {{ 'search.recentSearches' | translate }}
          </div>
          
            <div *ngIf="recentList.length != 0" >
              <div *ngFor="let item of recentList.reverse()" class="box-search-item" (click)="goRecentSearches(item)">
                <ion-row>
                  <ion-col size="11">
                    <ion-item lines="none">
                      <ion-avatar slot="start">
                        <img src="{{item?.image}}">
                      </ion-avatar>
                      <ion-label>
                        <h2>{{item?.name}}</h2>
                        <p>{{item?.city}}</p>
                      </ion-label>
                    </ion-item>
                  </ion-col>
                  <ion-col class="column-center" size="1" class="pos">
                    <div class="row-search-recent">
                      <ion-icon name="ios-arrow-forward"></ion-icon>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </div>
          
          <div *ngIf="recentList.length == 0">
            <div style="text-align: center;" class="title-search">No recent searches</div>
          </div>
        </div>
        <!--SEARCH-->
        <!--PEOPLE-->
        <div *ngIf="showRecent != true" style="margin-bottom: 111px;">
          <div *ngIf="(selectAll == true || selectPeople == true) && getListPeople?.length != 0">
            <div class="title-search">
              {{ 'search.peopleCL' | translate }}
            </div>
            <div (click)="goToPeople(item)" *ngFor="let item of getListPeople; let i = index;" class="box-search-item">
              <ion-row *ngIf="i < 5 && !seeAll.people && selectAll != null">
                <ion-col class="column-left" size="11">
                  <ion-item lines="none">
                    <ion-avatar slot="start">
                      <img src="{{item?.image}}">
                    </ion-avatar>
                    <ion-label>
                      <h2>{{item?.name}}</h2>
                      <p>{{item?.city}}</p>
                    </ion-label>
                  </ion-item>
                </ion-col>
                <ion-col class="column-center" size="1" class="pos">
                  <div class="row-search-recent">
                    <ion-icon name="ios-arrow-forward"></ion-icon>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="seeAll.people || selectAll == null">
                <ion-col class="column-left" size="11">
                  <ion-item lines="none">
                    <ion-avatar slot="start">
                      <img src="{{item?.image}}">
                    </ion-avatar>
                    <ion-label>
                      <h2>{{item?.name}}</h2>
                      <p>{{item?.city}}</p>
                    </ion-label>
                  </ion-item>
                </ion-col>
                <ion-col class="column-center" size="1" class="pos">
                  <div class="row-search-recent">
                    <ion-icon name="ios-arrow-forward"></ion-icon>
                  </div>
                </ion-col>
              </ion-row>
            </div>
            <div class="toggle-hide-all" *ngIf="selectAll != null">
              <span *ngIf="_globalServ?.language == 'en'"
                (click)="getDataByToggle('people')">{{seeAll.people ? 'Show Less' : 'See All'}}</span>
              <span *ngIf="_globalServ?.language == 'es'"
                (click)="getDataByToggle('people')">{{seeAll.people ? 'Ocultar todo' : 'Ver todo'}}</span>
            </div>
          </div>
          <hr *ngIf="selectAll == true && getListStudentPlan.length != 0" class="hr-search">
          <!--STUDENT PLANS-->
          <div *ngIf="(selectAll == true || selectStudentPlan == true) && getListStudentPlan.length != 0">
            <div class="title-search">
              {{ 'search.studentPlansCL' | translate }}
            </div>
            <div (click)="goToStudentPlan(item)" *ngFor="let item of getListStudentPlan;let i = index" class="box-search-item">
              <ion-row *ngIf="i < 5 && !seeAll.student_plan && selectAll != null">
                <ion-col class="column-left" size="11">
                  <ion-item lines="none">
                    <ion-avatar slot="start">
                      <img src="{{item?.image}}">
                    </ion-avatar>
                    <ion-label>
                      <h2>{{item?.name}}</h2>
                      <p>{{getDate(item?.plan_date)}}, {{item?.city}}</p>
                    </ion-label>
                  </ion-item>
                </ion-col>
                <ion-col class="column-center" size="1" class="pos">
                  <div class="row-search-recent">
                    <ion-icon name="ios-arrow-forward"></ion-icon>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="seeAll.student_plan || selectAll == null">
                <ion-col class="column-left" size="11">
                  <ion-item lines="none">
                    <ion-avatar slot="start">
                      <img src="{{item?.image}}">
                    </ion-avatar>
                    <ion-label>
                      <h2>{{item?.name}}</h2>
                      <p>{{getDate(item?.plan_date)}}, {{item?.city}}</p>
                    </ion-label>
                  </ion-item>
                </ion-col>
                <ion-col class="column-center" size="1" class="pos">
                  <div class="row-search-recent">
                    <ion-icon name="ios-arrow-forward"></ion-icon>
                  </div>
                </ion-col>
              </ion-row>
            </div>
            <div class="toggle-hide-all" *ngIf="selectAll != null">
              <span (click)="getDataByToggle('student_plan')">{{seeAll.student_plan ? 'Show Less' : 'See All'}}</span>
              <span *ngIf="_globalServ?.language == 'es'"
                (click)="getDataByToggle('student_plan')">{{seeAll.student_plan ? 'Ocultar todo' : 'Ver todo'}}</span>
            </div>
          </div>

          <hr *ngIf="selectAll == true && getGroupPlan.length != 0" class="hr-search">
          <!--GROUP PLANS-->
          <div *ngIf="(selectAll == true || selectgroupplan == true) && getGroupPlan.length != 0">
            <div class="title-search">
              {{ 'search.groupPlanCL' | translate }}
            </div>
            <!-- (click)="goToStudentPlan(item)" -->
            <div (click)="goToGroupPlan(item)" *ngFor="let item of getGroupPlan;let i = index" class="box-search-item">
              <ion-row *ngIf="i < 5 && !seeAll.group_plan && selectAll != null">
                <ion-col class="column-left" size="11">
                  <ion-item lines="none">
                    <ion-avatar slot="start">
                      <img src="{{item?.image}}">
                    </ion-avatar>
                    <ion-label>
                      <h2>{{item?.name}}</h2>
                      <p>{{getDate(item?.plan_date)}}, {{item?.city}}</p>
                    </ion-label>
                  </ion-item>
                </ion-col>
                <ion-col class="column-center" size="1" class="pos">
                  <div class="row-search-recent">
                    <ion-icon name="ios-arrow-forward"></ion-icon>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="seeAll.group_plan || selectAll == null">
                <ion-col class="column-left" size="11">
                  <ion-item lines="none">
                    <ion-avatar slot="start">
                      <img src="{{item?.image}}">
                    </ion-avatar>
                    <ion-label>
                      <h2>{{item?.name}}</h2>
                      <p>{{getDate(item?.plan_date)}}, {{item?.city}}</p>
                    </ion-label>
                  </ion-item>
                </ion-col>
                <ion-col class="column-center" size="1" class="pos">
                  <div class="row-search-recent">
                    <ion-icon name="ios-arrow-forward"></ion-icon>
                  </div>
                </ion-col>
              </ion-row>
            </div>
            <div class="toggle-hide-all" *ngIf="selectAll != null">
              <span (click)="getDataByToggle('group_plan')">{{seeAll.group_plan ? 'Show Less' : 'See All'}}</span>
              <span *ngIf="_globalServ?.language == 'es'"
                (click)="getDataByToggle('group_plan')">{{seeAll.group_plan ? 'Ocultar todo' : 'Ver todo'}}</span>
            </div>
          </div>

          <hr *ngIf="selectAll == true && getListEvent?.length != 0" class="hr-search">
          <!--EVENTS-->
          <div *ngIf="(selectAll == true || selectEvents == true) && getListEvent?.length != 0">
            <div class="title-search">
              {{ 'search.eventsCL' | translate }}
            </div>
            <div (click)="goToEvent(item)" *ngFor="let item of getListEvent; let i = index" class="box-search-item">
              <ion-row *ngIf="i < 5 && !seeAll.events && selectAll != null">
                <ion-col class="column-left" size="11">
                  <ion-item lines="none">
                    <ion-avatar slot="start">
                      <img src="{{item?.eventPhoto}}">
                    </ion-avatar>
                    <ion-label>
                      <h2>{{item?.title}}</h2>
                      <p>{{getDate(item?.plan_date)}}, {{item?.address}}</p>
                    </ion-label>
                  </ion-item>
                </ion-col>
                <ion-col class="column-center" size="1" class="pos">
                  <div class="row-search-recent">
                    <ion-icon name="ios-arrow-forward"></ion-icon>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="seeAll.events || selectAll == null">
                <ion-col class="column-left" size="11">
                  <ion-item lines="none">
                    <ion-avatar slot="start">
                      <img src="{{item?.eventPhoto}}">
                    </ion-avatar>
                    <ion-label>
                      <h2>{{item?.title}}</h2>
                      <p>{{getDate(item?.plan_date)}}, {{item?.address}}</p>
                    </ion-label>
                  </ion-item>
                </ion-col>
                <ion-col class="column-center" size="1" class="pos">
                  <div class="row-search-recent">
                    <ion-icon name="ios-arrow-forward"></ion-icon>
                  </div>
                </ion-col>
              </ion-row>
            </div>
            <div class="toggle-hide-all" *ngIf="selectAll != null">
              <span *ngIf="_globalServ?.language == 'en'"
                (click)="getDataByToggle('events')">{{seeAll.events ? 'Show Less' : 'See All'}}</span>
              <span *ngIf="_globalServ?.language == 'es'"
                (click)="getDataByToggle('events')">{{seeAll.events ? 'Ocultar todo' : 'Ver todo'}}</span>
            </div>
          </div>

          <hr *ngIf="selectAll == true && getCityAgendas.length != 0" class="hr-search">
          <!--CITY AGENDA-->
          <div *ngIf="(selectAll == true || selectcityagenda == true) && getCityAgendas.length != 0">
            <div class="title-search">
              {{ 'search.cityAgendaCL' | translate }}
            </div>
            <div *ngFor="let item of getCityAgendas;let i = index" (click)="goToCityAgenda(item)" class="box-search-item">
              <ion-row *ngIf="i < 5 && !seeAll.city_agenda && selectAll != null">
                <ion-col class="column-left" size="11">
                  <ion-item lines="none">
                    <ion-avatar slot="start">
                      <img src="{{item?.image}}">
                    </ion-avatar>
                    <ion-label>
                      <h2>{{item?.name}}</h2>
                      <p>{{getDate(item?.plan_date)}}, {{item?.city}}</p>
                    </ion-label>
                  </ion-item>
                </ion-col>
                <ion-col class="column-center" size="1" class="pos">
                  <div class="row-search-recent">
                    <ion-icon name="ios-arrow-forward"></ion-icon>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="seeAll.city_agenda || selectAll == null">
                <ion-col class="column-left" size="11">
                  <ion-item lines="none">
                    <ion-avatar slot="start">
                      <img src="{{item?.image}}">
                    </ion-avatar>
                    <ion-label>
                      <h2>{{item?.name}}</h2>
                      <p>{{getDate(item?.plan_date)}}, {{item?.city}}</p>
                    </ion-label>
                  </ion-item>
                </ion-col>
                <ion-col class="column-center" size="1" class="pos">
                  <div class="row-search-recent">
                    <ion-icon name="ios-arrow-forward"></ion-icon>
                  </div>
                </ion-col>
              </ion-row>
            </div>
            <div class="toggle-hide-all" *ngIf="selectAll != null">
              <span (click)="getDataByToggle('city_agenda')">{{seeAll.city_agenda ? 'Show Less' : 'See All'}}</span>
              <span *ngIf="_globalServ?.language == 'es'"
                (click)="getDataByToggle('city_agenda')">{{seeAll.city_agenda ? 'Ocultar todo' : 'Ver todo'}}</span>
            </div>
          </div>

          <hr *ngIf="selectAll == true && getCityGuides.length != 0" class="hr-search">
          <!--CITY GUIDE-->
          <div *ngIf="(selectAll == true || selectcityguide == true) && getCityGuides.length != 0">
            <div class="title-search">
              {{ 'search.cityGuideCL' | translate }}
            </div>
            <div *ngFor="let item of getCityGuides;let i = index" (click)="goToCityGuide(item)" class="box-search-item">
              <ion-row *ngIf="i < 5 && !seeAll.city_guide && selectAll != null">
                <ion-col class="column-left" size="11"> 
                  <ion-item lines="none">
                    <ion-avatar slot="start">
                      <img src="{{item?.image}}">
                    </ion-avatar>
                    <ion-label>
                      <h2>{{item?.name}}</h2>
                      <p>{{getDate(item?.plan_date)}}, {{item?.city}}</p>
                    </ion-label>
                  </ion-item>
                </ion-col>
                <ion-col class="column-center" size="1" class="pos">
                  <div class="row-search-recent">
                    <ion-icon name="ios-arrow-forward"></ion-icon>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="seeAll.city_guide || selectAll == null">
                <ion-col class="column-left" size="11">
                  <ion-item lines="none">
                    <ion-avatar slot="start">
                      <img src="{{item?.image}}">
                    </ion-avatar>
                    <ion-label>
                      <h2>{{item?.name}}</h2>
                      <p>{{getDate(item?.plan_date)}}, {{item?.city}}</p>
                    </ion-label>
                  </ion-item>
                </ion-col>
                <ion-col class="column-center" size="1" class="pos">
                  <div class="row-search-recent">
                    <ion-icon name="ios-arrow-forward"></ion-icon>
                  </div>
                </ion-col>
              </ion-row>
            </div>
            <div class="toggle-hide-all" *ngIf="selectAll != null">
              <span (click)="getDataByToggle('city_guide')">{{seeAll.city_guide ? 'Show Less' : 'See All'}}</span>
              <span *ngIf="_globalServ?.language == 'es'"
                (click)="getDataByToggle('city_guide')">{{seeAll.city_guide ? 'Ocultar todo' : 'Ver todo'}}</span>
            </div>
          </div>

          <hr *ngIf="selectAll == true && getListOfferDiscount.length != 0" class="hr-search">
          <!--OFFERS & DISCOUNT-->
          <div *ngIf="(selectAll == true || selectOfferDiscount == true) && getListOfferDiscount.length != 0">
            <div class="title-search">
              {{ 'search.offersAndDiscountCL' | translate }}
            </div>
            <div (click)="goToOfferDiscount(item)" *ngFor="let item of getListOfferDiscount; let i = index" class="box-search-item">
              <ion-row *ngIf="i < 5 && !seeAll.discount && selectAll != null">
                <ion-col class="column-left" size="11">
                  <ion-item lines="none">
                    <ion-avatar slot="start">
                      <img src="{{item?.image}}">
                    </ion-avatar>
                    <ion-label>
                      <h2>{{item?.name}}</h2>
                      <p>{{item?.company}}, {{item?.city}}</p>
                    </ion-label>
                  </ion-item>
                </ion-col>
                <ion-col class="column-center" size="1" class="pos">
                  <div class="row-search-recent">
                    <ion-icon name="ios-arrow-forward"></ion-icon>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="seeAll.discount || selectAll == null">
                <ion-col class="column-left" size="11">
                  <ion-item lines="none">
                    <ion-avatar slot="start">
                      <img src="{{item?.image}}">
                    </ion-avatar>
                    <ion-label>
                      <h2>{{item?.name}}</h2>
                      <p>{{item?.company}}, {{item?.city}}</p>
                    </ion-label>
                  </ion-item>
                </ion-col>
                <ion-col class="column-center" size="1" class="pos">
                  <div class="row-search-recent">
                    <ion-icon name="ios-arrow-forward"></ion-icon>
                  </div>
                </ion-col>
              </ion-row>
            </div>
            <div class="toggle-hide-all" *ngIf="selectAll != null">
              <span *ngIf="_globalServ?.language == 'en'"
                (click)="getDataByToggle('discount')">{{seeAll.discount ? 'Show Less' : 'See All'}}</span>
              <span *ngIf="_globalServ?.language == 'es'"
                (click)="getDataByToggle('discount')">{{seeAll.discount ? 'Ocultar todo' : 'Ver todo'}}</span>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</ion-content>