.searchbar {
    --cancel-button-color: rgb(240, 65, 65);
}


.title-search{
    color: rgb(34, 36, 40);
    font-size: 14px;
    margin-top: 27px;
    font-weight: 500;
    margin-bottom: 28pt;
}

.box-search-item{
    margin-top: -15pt;
    margin-left: -15px;
    margin-bottom: 6px;
}

.toggle-hide-all {
    text-align: center;
    margin-top: 10px;
    & span {
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 0.35px;
    }
}

.row-search-recent{
    // margin: auto;
    // width: 50%;
    padding: 10px;
    font-size: 30px;
    color: rgb(216, 216, 216);
}

.row-back{
    margin: auto;
    width: 50%;
    padding: 20px;
    font-size: 21pt;
    color: black;
}

.hr-search{
    width: 1500px !important;
    background: rgb(224, 224, 224) !important;
    display: block !important;
    margin-left: -400px; 
    visibility: visible !important;
}

ng-scrollbar{
    // max-height: 80px;
    max-height: 32px;
    margin-left: 0px;
}

.scroll-content{
    display:flex;
}

ion-chip{
    // display: inline-table !important;
    white-space: nowrap !important;
    font-size: 14px;
    font-weight: 500;
    line-height: 0;
    padding: 12px 12px;
    height: auto;
    margin: 0px 5px 5px 0px;
}

ion-toolbar{
    margin-top: 25pt;
}
// img{
//     height: 38px;
//     width: 38px;
// }
h2{
    font-family: 'SF Pro Regular';
    line-height: 18px;
}

.sc-ion-label-md-s p{
    font-family: 'SF Pro Regular';
    font-size: 12px;
}
.icon-inner{
    height: 80%;
}
.search-container{
    margin-bottom: 65px;
}

ion-item{
    --padding-start: 16px;
}

.sc-ion-searchbar-ios-h{
    padding-inline-start: 10px !important;
}

.recent{
    margin-top: 0px;
}
ion-avatar{
    height: 40px;
    width: 40px;
}
.col-md-8{
    padding-left: 16px;
    padding-right: 0px;
}
ion-col{
    padding-left: 0px;
    padding-right: 0px;
    ion-label{
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 0px;
    }
}
h2{
    font-size: 16px;
}
.pos{
    position: absolute;
    right: 15px;
}