/*.btn-back-content-item{
    height: 75px;
    position: fixed;
    margin-top: 15px;
    margin-left: 15px;
    z-index: 9999;
    //background: rgba(255,255,255,0.8);.
    text-align: center;
}

.btn-back-item{
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px rgba(255,255,255,0.8);
    padding: 3px 3px;
    width: 21px;
    background: rgba(255,255,255,0.8);
}*/

.box-center-full {
    margin-top: 35px;
    margin-bottom: 25px;
}

.map-one {
    margin-top: 20px;
}

table {
    margin-top: 24pt;
}

/*.sc-ion-card-md-h {
    margin-left: 0px; 
     margin-right: 0px;
     margin-top: 0px; 
     border-radius: 0px;
}*/

/*.item-avatar-card.hydrated{
    --inner-border-width: 0;
    --padding-start: 0;
}*/

.invite-screen {
    margin-top: 140px !important;
}

.invite {
    display: flex;
    align-items: center;
    margin: 20px 15px;
    margin-left: 5px;
    margin-right: -2px;

    & ion-item {
        width: calc(100% - 55px);

        & ion-checkbox {
            --border-radius: 2px;
            --border-width: 2px;
        }

        & ion-label {
            width: 130px;
        }
    }
}

.invite-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 7px;
}

.invite-name {
    font-weight: bold;
}

ion-footer {
    &.footer-md::before {
        background-image: none;
    }
}

ion-footer {
    &.footer-ios::before {
        background-image: none;
    }
}

ion-content {
    -webkit-overflow-scrolling: touch;
}
.container{
	margin-top: 80px;
}

ion-item{
    --padding-start: 9px;
}

.toolbarWithSearch{
    height: 140px !important;
}