.view-plan{
	position: fixed;
	bottom: 50px;
	z-index: 99;
}
.view-full-btn{
	width: 50%;
}

ion-content{
	-webkit-overflow-scrolling: touch;
}
.container{
	margin-top: 80px;
}
.col-md-8{
	padding-left: 9px !important;
	padding-right : 9px !important;
}
// .joined{
// 	background: #f4f5f8 !important;
// }