<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)" #scrollContent>
  <toolbar [back]="true" [inputChanges]="confirmedExit"
    [title]="pageTitleName ? ('group-create.createaGroup' | translate) : ''" (click)="goBack()"></toolbar>
  <div class="container nopadding" id="container" style="    margin-top: -23px;">
    <div class="row graybg">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h1 class="title">{{ 'group-create.createaGroup' | translate }}</h1>

        <div class="box-center-full">
          <span *ngIf="!chosenImage" class="circle" (click)="goToselectImg()">
            <span class="icon fas fa-camera"></span>
          </span><span class="req" *ngIf="!chosenImage">*</span>
          <img *ngIf="chosenImage !== null" class="circle" (click)="goToselectImage()" [src]="chosenImage">
        </div>
        <hr class="hr-pc mbottom">
        <form (click)="validate()">

          <ion-item-divider mode="md">
            <ion-label class="group-create-label" *ngIf="!title">{{ 'group-create.title' | translate }}<span
                class="req">*</span></ion-label>
            <ion-input [(ngModel)]="title" name="title" (keyup.enter)="hideKeyboard()" (ionInput)="validate()"
              style="color: black;">
            </ion-input>
          </ion-item-divider>

          <hr class="hr-pc mtop">
          <div class="line-item">
            <label style="font-size: 17px;width: 100%;">{{ 'group-create.category' | translate }}<span class="req"
                *ngIf="!category?.length">*</span></label>
            <span style="font-size: 17px;" class="secondary-text" (click)="createCategory()" *ngIf="!pick">
              {{ 'group-create.pick' | translate }} <span class="fas fa-chevron-right"></span>
            </span>
            <!-- <span style="font-size: 15pt;" class="secondary-text" (click)="createCategory()"
              *ngIf="pick && _globalServ.language =='es'">
              {{ category[0]?.name_ES }} <span *ngIf="category.length>1">and {{category.length-1}} more </span>
            </span>
            <span style="font-size: 17px;" class="secondary-text" (click)="createCategory()"
              *ngIf="pick && _globalServ.language =='en'">
              {{ category[0]?.name_EN }} <span *ngIf="category.length>1">and {{category.length-1}} more </span>
              <span class="fas fa-chevron-right"></span>
            </span> -->


            <div *ngIf="pick && _globalServ.language =='es'" (click)="createCategory()" class="secondary-text"
              style="display: flex;flex-direction: row;width: max-content; justify-content: flex-end">
              <span style="font-size: 17px;">{{ category[0]?.name_ES | slice: 0: 10}}
              </span>
              <span style="font-size: 17px;" *ngIf="category.length>1">... and
                {{category.length-1}} more <span class="fas fa-chevron-right"></span></span>
            </div>

            <div *ngIf="pick && _globalServ.language =='en'" (click)="createCategory()" class="secondary-text"
              style="display: flex;flex-direction: row;width: max-content; justify-content: flex-end">
              <span style="font-size: 17px;">{{ category[0]?.name_EN | slice: 0: 10}}
              </span>
              <span style="font-size: 17px;" *ngIf="category.length>1">... and
                {{category.length-1}} more <span class="fas fa-chevron-right"></span></span>
            </div>
          </div>

          <div class="line-item">
            <label style="font-size: 17px;">{{ 'group-create.settings' | translate }}</label>
            <span style="font-size: 17px;" class="secondary-text" (click)="pickSettings()"
              *ngIf="!groupCreateSettingsValue">
              {{ 'group-create.pick' | translate }} <span class="fas fa-chevron-right"></span>
            </span>
            <span class="secondary-text" (click)="pickSettings()" *ngIf="groupCreateSettingsValue" style="white-space: pre-wrap;font-size: 17px;
    width: 100%;">
              {{groupCreateSettingsValue}} <span class="fas fa-chevron-right"></span>
            </span>
          </div>


          <div class="line-item">
            <label style="font-size: 17px;width: 100%;">{{ 'group-create.groupType' | translate }}</label>
            <span style="font-size: 17px;" class="secondary-text" (click)="setPlanType()" *ngIf="!groupTypeValue">
              {{ 'group-create.pick' | translate }} <span class="fas fa-chevron-right"></span>
            </span>
            <span class="secondary-text" (click)="setPlanType()" *ngIf="groupTypeValue" style="white-space: pre-wrap;font-size: 17px;
    width: 100%;">
              {{groupTypeValue}} <span class="fas fa-chevron-right"></span>
            </span>
          </div>

          <div class="line-item">
            <label style="font-size: 17px;">{{ 'group-create.admins' | translate }}<span class="req"
              *ngIf="!adminlist?.length"></span></label>
            <span style="font-size: 17px;" class="secondary-text" (click)="adminPeopel()"
              *ngIf="!groupAdminSettingValue">
              {{ 'group-create.Add' | translate }} <span class="fas fa-chevron-right"></span>
            </span>
           

            <div *ngIf="groupAdminSettingValue" (click)="adminPeopel()" class="secondary-text"
              style="display: flex;flex-direction: row;width: max-content; justify-content: flex-end">
              <span style="font-size: 17px;" (click)="adminPeopel()"
                *ngIf="groupAdminSettingValue">{{ groupAdminSettingValue}}
              </span>
              <span style="font-size: 17px;" (click)="adminPeopel()" *ngIf="adminlist.length > 1">... and
                {{adminlist.length-1}} more <span class="fas fa-chevron-right"></span></span>
            </div>
          </div>

          <!-- <div class="line-item">
            <label style="font-size: 17px;">{{ 'group-create.invitePeople' | translate }}</label>
            <span style="font-size: 17px;" class="secondary-text" (click)="invitePeople()" *ngIf="!_globalServ.invited">
              {{ 'group-create.invite' | translate }} <span class="fas fa-chevron-right"></span>
            </span>
            <span style="font-size: 17px;" class="secondary-text" (click)="invitePeople()" *ngIf="_globalServ.invited">
              {{_globalServ.invited}} People {{ 'group-create.invited' | translate }} <span
                class="fas fa-chevron-right"></span>
            </span>
          </div> -->
          <hr class="hr-pc mbottom">

          <ion-label class="group-create-details" *ngIf="!description">{{ 'group-create.details' | translate }}<span
              class="req">*</span></ion-label>
          <ion-textarea style="color: black;" [(ngModel)]="description" autocorrect="off" name="description" autoGrow="true"
            (ionInput)="validate()"></ion-textarea>
          <hr class="hr-pc">

          <div class="box-center-full btn-pc-box" *ngIf="!formValid">
            <ion-button class="button-one" shape="round" disabled>
              <span>{{ 'group-create.createTheGroup' | translate }}</span>
            </ion-button>
          </div>
          <div class="box-center-full btn-pc-box" *ngIf="formValid">
            <ion-button *ngIf="done" (click)="save()" class="button-one" shape="round">
              <span>{{ 'group-create.createTheGroup' | translate }}</span>
            </ion-button>

            <ion-button *ngIf="!done" class="button-one" shape="round">
              <img src="assets/img/load.gif" style="height: 64px">
            </ion-button>
          </div>

        </form>

      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</ion-content>