<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">

  <tab-menu slot="fixed"></tab-menu>
  <toolbar slot="fixed" [setting]="true" [calendar]="false" (filterEmit)="openFilter()"
    [title]="pageTitleName ? ('city-guide-list.cityGuide' | translate) : ''"></toolbar>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h1 class="title">{{ 'city-guide-list.cityGuide' | translate }}</h1>
        <div class="box-container">
          <div *ngIf="!_globalServ?.listCityGuide?.categories" class="spinner-div">
            <ion-spinner name="lines"></ion-spinner>
          </div>
          <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
            <ion-refresher-content style="" pullingIcon="arrow-dropdown" pullingText="" refreshingSpinner="circles"
              refreshingText="">
            </ion-refresher-content>
          </ion-refresher>
          <div *ngIf="_globalServ?.listCityGuide?.categories">
            <div *ngFor="let item of _globalServ?.listCityGuide?.categories, let i = index"
              (click)="goToCityGuideItemList(item)" class="item">
              <ion-card [class.odd_card]="i%2=='0'" [class.even_card]="i%2=='1'">
                <app-img-with-loader class="cg-card-image" style="position: static" [src]="item?.image">
                </app-img-with-loader>
              </ion-card>
              <div
                style="display: -webkit-box;max-width: 100%;line-height: 1;-webkit-box-orient: vertical;text-overflow: ellipsis;font-weight: 400"
                class="box-center-full">
                <span *ngIf="_globalServ?.language == 'en'">{{item?.name_EN}}</span>
                <span *ngIf="_globalServ?.language == 'es'">{{item?.name_ES}}</span>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

</ion-content>