ion-card-header{
     margin-top: -80px !important;
    --background: rgba(255,255,255,0.8);
    padding: 10px 20px;
}

.card-header2{
    margin-top: -40px !important;
    --background: rgba(255,255,255,0.8);
    padding: 10px 20px;
    position: absolute;
    width: 100%;
}

.card-header3{
    margin-top: -60px !important;
   --background: rgba(255,255,255,0.8);
   padding: 10px 20px;
}
ion-card {
    min-height: 380px !important;
    height: 380px !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12) !important;
    margin: 16px 8px;
}
ion-card-content{
    
}

ion-card-subtitle{
       height: 17px;
    text-align: left;
    max-width: 100%;
    -webkit-line-clamp: 1;
    font-weight: 100;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    white-space: nowrap;
    font-family: SF Pro Regular;
    text-transform: inherit;
}
ion-card-title{
   text-align: left;
    max-width: 100%;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    white-space: nowrap;
    font-family: SF Pro Medium;
    color: black;
    letter-spacing: 0px;
}

.title-box-c-a{
    color: black;
    font-size: 12px;
}
.two-line-one{
    font-size: 12px;
    height: 35px !important;
        margin-top: 10px;
}
.image{
    width: 100%;
    // height: 280px;
    display: flex;
    align-items: center;
    justify-items: center;
    border-radius: 10px 0px;
    overflow: hidden;
}
ion-card-header{
    max-height: 80px;
    min-height: 80px;
    height: auto;
}
