.box-center-full{
    margin-top: 35px;
    margin-bottom: 25px;
}

.map-one{
 margin-top: 20px;
}

table{
    margin-top: 24pt;
}
h2{
    font-size: 20px;
    font-family: 'SF Pro Bold';
}
.blue-text{
    font-size: 12px;
    font-family: 'SF Pro Medium';
}
.title-item{
    font-size: 16px;
    font-family: 'SF Pro Medium';
}
.secondary-text{
    font-size: 13px;
    font-family: 'SF Pro Medium';
}
ion-chip{
    margin-left: 0px;
}
.btn_div{
    text-align: center;

    ion-button{
        --background: #009cd7;
        --color: white;
        --padding-start: 40px;
        --padding-end: 40px;
    }
}
.blue-circle{
    height: 45px !important;
    width: 45px !important;
    position: relative !important;
}
.fa-globe:before{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.fa-phone:before{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.fa-location-arrow:before{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
ion-fab{
    margin: 0px;
    left: 0;
    right: 0;
    text-align: center;
}
.box-blue-circle img{
    margin: 8px;
}

.opening-tr { font-weight: 900 }
.opening-tr:nth-child(odd) { font-weight: normal; }

.btn-instagram{
    font-size: 14px;
    background: #EBC8DC;
    color: #C13584;
}
.div_btn{
    padding-bottom: 30px;
}