.container {
  margin-top: 80px;
}

.code {
  //margin-top: 60%;
  position: fixed;
  /* or absolute */
  top: 40%;
  left: 50%;
  right: 0;
  left: 0;
  font-size: 28pt;
  line-height: 33pt;
  font-weight: 600;
}

.promo-code-text {
  text-align: center;
}

.box-center-full {
  font-size: 16px;
}

.codetext {
  margin: 16px;
  font-family: 'SF Pro regular' !important;
}