<ion-content>
	<toolbar slot="fixed" [back]="true"></toolbar>
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h1 class="title" style="    width: 86%;
    display: inline-block;">{{ 'promo-code.promoCode' | translate }}</h1>
				<span *ngIf="skip == true" style="    font-family: 'SF Pro regular' !important;color: #009cd7;"
					(click)="gotodashboard()">
					<u>Skip</u>
				</span>
				<div class="code box-center-full">
					<label *ngIf="congrats == false"
						class="codetext">{{'promo-code.enterPromoCode' | translate}}</label>
					<label *ngIf="congrats" class="codetext">{{'promo-code.alreadyHavePromoCode' | translate}}</label>
					<ion-item>
						<ion-input [ngStyle]="{'border-bottom': wrongCode==true?'1px solid red':''}"
							[disabled]="congrats" style="text-align: center;margin-top: 42px;" [(ngModel)]="code"
							placeholder="{{'promo-code.code' | translate}}" (ionChange)="changed()"></ion-input>

					</ion-item>
					<div *ngIf="wrongCode" style="    color: #d90000;
    font-size: 12px;
    position: absolute;
    left: 26px;
    bottom: 58px;">Wrong code
					</div>
					<ion-button *ngIf="congrats == false" style="margin-top: 42px;" (click)="continue()"
						class="button-one" shape="round">
						<span>{{ 'promo-code.save' | translate }}</span>
					</ion-button>

				</div>
				<div class="margin-bottom"></div>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</ion-content>