<ion-toolbar [ngClass]="{'toolbarWithSearch': searchMembers || searchGroups}">
  <ion-row>
    <ion-col class="column-left" size="3">
      <ion-icon (click)="inputChanges == true && goBack()" *ngIf="back == true" name="arrow-back"></ion-icon>
      <!-- <span (click)="goBack()" *ngIf="back == true" class="fas fa-chevron-left"></span> -->
      <span (click)="closeModalArrowFunc()" *ngIf="closeModalArrow == true" class="fas fa-chevron-left"></span>
      <span (click)="close()" *ngIf="cancel == true" class="cancel">{{ 'toolbar.cancel' | translate }}</span>
      <span (click)="goBack()" *ngIf="cancelMembers == true"
        class="members-nav blue-text">{{ 'toolbar.cancel' | translate }}</span>
      <span *ngIf="menu == true" class="fas fa-bars"></span>
    </ion-col>
    <ion-col class="column-center" size="6">
      <span *ngIf="title != null" [ngClass]="{'boldTitle': groupCalendar != true}">{{title}}</span>
    </ion-col>
    <ion-col class="column-right" size="3">
      <!-- <span (click)="goToOfferDiscountMap()" *ngIf="map == true" class="bg-background map-marker-tab icon-right"></span> -->
      <img src="assets/img/pin.png" class="pin_img" (click)="goToOfferDiscountMap()" *ngIf="map == true">
      <!-- <span (click)="emitFilter()" *ngIf="setting == true" class="bg-background sliders-tab icon-right"></span> -->
      <span>
        <ion-icon name="calendar" *ngIf="calendar == true" style="font-size: 25px;margin-right: 12px;" (click)="emitCalendar()"></ion-icon>
        <ion-icon class="filter_icon" name="calendar" *ngIf="joinedCalendar == true" style="font-size: 25px;margin-right: 25px;"
          (click)="openJoinedCalendar()">
        </ion-icon>
      </span>
      <span>
        <ion-icon name="options" mode="ios" style="font-size: 25px" (click)="emitFilter()" *ngIf="setting == true"
          class="filter_icon"></ion-icon>
      </span>
      <span *ngIf="search == true" class="fas fa-search icon-right"></span>
      <span *ngIf="bell == true" class="fas fa-bell icon-right"></span>
      <span (click)="resetFunc()" *ngIf="reset == true" class="reset blue-text">{{ 'toolbar.reset' | translate }}</span>
      <span (click)="inviteMember()" *ngIf="inviteMembers == true"
        class="members-nav blue-text">{{ 'toolbar.invite' | translate }}</span>
      <span *ngIf="price == true" class="price members-nav blue-text"
        (click)="goBack()">{{ 'profile.save' | translate }}</span>
    </ion-col>
    <ion-col *ngIf="searchMembers == true || searchGroups == true" size="12">
      <ion-searchbar *ngIf="_globalServ?.language == 'es'"
        placeholder="{{searchMembers === true ? 'Buscar personas': 'Buscar nombre de grupo'}}"
        [(ngModel)]="groupMemberKey" (ionChange)="changeSearchGroupMembers()"></ion-searchbar>
      <ion-searchbar *ngIf="_globalServ?.language == 'en'"
        placeholder="{{searchMembers === true ? 'Search people' : 'Search group name'}}" [(ngModel)]="groupMemberKey"
        (ionChange)="changeSearchGroupMembers()"></ion-searchbar>
      <ion-searchbar *ngIf="_globalServ?.language == 'es'"
        placeholder="{{searchMembers === true ? 'Search people' : 'Search group name'}}" [(ngModel)]="groupMemberKey"
        (ionChange)="changeSearchGroupMembers()"></ion-searchbar>
    </ion-col>
  </ion-row>
</ion-toolbar>
<div class="separator"></div>