  .column-left {
    float: left;
    padding-top: 32px;
    //padding-right: 15px;
    padding-bottom: 3pt;
    padding-left: 25px;
    font-size: 21pt;

    ion-icon {
      font-size: 30px;
      margin-left: -10px;
    }
  }

  .cancel {
    font-size: 16pt;
    color: rgb(240, 65, 65);
  }

  .column-center {
    text-align: center;
    word-break: break-word;
    padding-top: 39px;
    padding-bottom: 3pt;
    font-size: 16px;
    color: black;
    line-height: 20px;
    font-family: 'SF Pro Medium';
  }

  .column-right {
    text-align: right;
    padding-top: 39px;
    font-size: 16px;
    padding-bottom: 3pt;
    /* line-height: 1; */
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 0px;
  }

  ion-searchbar {
    height: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  ion-toolbar {
    height: 65pt;
    position: fixed;
    opacity: 0.91;
    //font-size: 25px;
  }

  .icon-right {
    // margin-right: 15px;
  }

  .separator {
    margin-top: 60pt;
  }

  .members-nav {
    font-size: 16px;
  }

  .toolbarWithSearch {
    height: 140px;
  }

  .filter_icon {
    margin-right: 20px;
  }

  .reset.blue-text,
  .price.members-nav.blue-text {
    margin-right: 24px;
  }

  .pin_img {
    // height: 32px;
    width: 27px;
    margin-top: -18px;
  }

  .boldTitle {
    font-size: 20px;
    font-weight: bold;
  }