
.group-card-row { // new-way card row
  display: flex;
  flex-wrap: wrap;
  .div-img-container{
    width: 100%;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    img{
      max-width: unset;
      height: 100%;
    }
  }
  .group-card {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 29.3%;
    cursor: pointer;
    margin-right: 2%;
    margin-left: 2%;
  
    & img {
      border-radius: 5px;
      width: 100%;
    }
  
    & .title {
      font-size: 12px;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 5px;
    }
  
    & .icon-status {
      display: flex;
      justify-content: center;
      font-size: 12px;
      color: #9b9b9b;
  
      & ion-icon {
        font-size: 15px;
      }
    }
  }
}
.btn-pc-box{
  margin-top: 32pt;
  margin-bottom: 36pt;
  background: none !important;
}

ion-content{
	-webkit-overflow-scrolling: touch;
}
.container{
	margin-top: 80px;
}

// Mausam
.card-img-container{
  width: 100%;
  height: 280px;
  display: flex;
  align-items: center;
  justify-items: center;
  border-radius: 10px 0px;
  overflow: hidden;
  .bg-img{
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
  }
}

.subtitle{
	text-align: left;
    max-width: 100%;
    -webkit-line-clamp: 1;
    font-weight: 100;
    // color: #0e0e0e;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    // font-size: 11pt;
    font-size: 13px;
    white-space: nowrap;
    font-family: SF Pro Regular;
    text-transform: inherit;
}

.title{
	text-align: left;
    max-width: 100%;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    white-space: nowrap;
    font-family: SF Pro Medium;
    // font-weight: 600;
    color: black;
}
ion-card-header{
  margin-top: -64px !important;
  --background: rgba(255,255,255,0.8);
  padding: 10px 20px;
}

.card-content-ios{	
	padding: 8px;
}
.card-content-android{

}

ion-card {
  min-height: 350px !important;
  height: 350px !important;
 // margin-left: auto !important;
 // margin-right: auto !important;
 border-radius: 10px !important;
 box-shadow: 0 4px 6px rgba(0,0,0,.12) !important;
//   webkit-box-shadow: 0 4px 6px rgba(0,0,0,.12) !important;
 margin: 16px;
}

.ion-item-plan-card{
  // margin-left: -15px;
  //height: 250px;
  //width: 50px;
  --padding-start: 7px;
}
ion-avatar{
  height: 30px;
  width: 30px;
}
.img-avatar-pc{
  height: 100%;
}
.weight-600{
	--color: initial;
    display: block;
    color: var(--color);
    font-family: inherit;
    font-size: 11pt;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.join{
  //margin-top: 11px;
  //display: inline-table;
  background: rgb(244, 245, 248);
  white-space: nowrap;
}