<ion-content>
  <toolbar slot="fixed" [back]="true" title="{{('profile.joined' | translate) + ' ' + ('joined.groupPlans' | translate)}}"></toolbar>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div style="margin-top: 20pt;"></div>

        <!-- <div class="group-card-row">
          <div class="text-center group-card" *ngFor="let jGroupPlan of joinedGroupPlans; let i=index" (click)="goToGroupItem(jGroupPlan)">
            <div class="div-img-container">
              <img src="{{jGroupPlan?.image}}" />
            </div>
            <h5 class="title">{{jGroupPlan?.title}}</h5>
            <div class="icon-status">
              <ion-icon name="ios-person"></ion-icon>
              <span class="status">{{jGroupPlan?.participants_count}}</span>
            </div>
          </div>
        </div> -->

        <!-- Mausam -->
          <ion-card *ngFor="let jGroupPlan of joinedGroupPlans; let i=index">
            <div class="card-img-container">
                <app-img-with-loader 
                [src]="jGroupPlan?.image" 		 
                (click)="goToGroupItem(jGroupPlan)"  >
               </app-img-with-loader>              
              <!-- <div class="bg-img" [style.backgroundImage]="'url('+jGroupPlan?.eventPhoto+')'" (click)="goToEventLink()"></div> -->

              <!-- <img class="pc-card-image" *ngIf="dataPlan?.type !== 'club_plan'" (click)="goToItemPlan()"
                src="{{dataPlan?.image}}">
              <img class="pc-card-image" *ngIf="dataPlan?.type === 'club_plan'" (click)="goToEventLink()"
                src="{{dataPlan?.eventPhoto}}"> -->
            </div>
            <ion-card-header (click)="goToGroupItem(jGroupPlan)">
                <ion-card-subtitle class="subtitle">
                  {{getDate(jGroupPlan?.plan_date)}}
                </ion-card-subtitle>
                <ion-card-title class="title">
                  {{jGroupPlan?.title}}
                </ion-card-title>
            </ion-card-header>

            <ion-card-content [ngClass]="{'card-content-ios':_globalServ?.iosDivice,'card-content-android':_globalServ?.androidDivice}">
              <ion-row>
                <ion-col size="8">
                  <ion-item class="ion-item-plan-card" lines="none">
                    <ion-avatar slot="start">
                      <img *ngIf="jGroupPlan?.fk_user_image" class="img-avatar-pc"
                        [src]="jGroupPlan?.fk_user_image">
                      <img *ngIf="jGroupPlan?.fk_user_image == null || jGroupPlan?.fk_user_image == ''" class="img-avatar-pc"
                        src="assets/img/empty_avatar.png">
                    </ion-avatar>
                    <ion-label style="margin-bottom: 7px" class="weight-600" *ngIf="jGroupPlan?.fk_user_first_name">
                      {{jGroupPlan?.fk_user_first_name}} {{jGroupPlan?.fk_user_last_name}}</ion-label>
                    <ion-label style="margin-bottom: 7px" class="weight-600" *ngIf="jGroupPlan?.fk_user_name">
                      {{jGroupPlan?.fk_user_name}}</ion-label>
                    </ion-item>
                </ion-col>

                <ion-col size="4" style="text-align: center;">
                  <ion-chip (click)="join(jGroupPlan, i)" class="join" [ngClass]="{'join-android':_globalServ?.androidDivice,'joined':dataPlan?.join}">
                    <!-- <ion-label *ngIf="dataPlan?.join != true">+ Join</ion-label> -->
                    <ion-label>Joined</ion-label>
                  </ion-chip>
                </ion-col>

              </ion-row>
            </ion-card-content>
  
          </ion-card>
        <!-- /Mausam -->

        <div class="box-center-full btn-pc-box">
            <!-- <ion-button (click)="goToGroups()" class="button-one" shape="round">
              <span>{{ 'joined.viewAllGroups' | translate }}</span>
            </ion-button> -->
            <ion-button (click)="goToPlan()" class="button-one" shape="round">
              <span>{{ 'joined.viewAllGroupPlan' | translate }}</span>
            </ion-button>
          </div>
          
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </ion-content>