<ion-content>
    <div class="btn-back-content-item1" [ngClass]="{'btn-back-content-item-ios':_globalServ?.iosDivice}">
        <span (click)="goBack()" class="btn-back-item fas fa-chevron-left"></span>
        <label class="category-label">{{'group-create-category.category' | translate}}</label>
    </div>
  <div class="category-heading">
    <ion-item class="heading-txt" lines="none">{{'group-create-category.pickup3' | translate}}</ion-item>
  </div>
  <div class="container category-screen">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <!-- <ion-item lines="none" *ngFor="let item of groupCreateCategory; let i = index" (click)="changeStatus(i,item)">
          <ion-label *ngIf="_globalServ?.language == 'es'">{{item?.name_ES}}</ion-label>
          <ion-label *ngIf="_globalServ?.language == 'en'">{{item?.name_EN}}</ion-label>
          <ion-checkbox [checked]="item?.value === 1" slot="end" [disabled]="item?.disable"></ion-checkbox>
        </ion-item> -->


        <div class="main_div">
          <div class="single_div" (click)="changeStatus(i, item)" *ngFor="let item of groupCreateCategory;let i = index">

            <div>
              <ion-label *ngIf="_globalServ?.language == 'es'">{{item?.name_ES}}</ion-label>
              <ion-label *ngIf="_globalServ?.language == 'en'">{{item?.name_EN}}</ion-label>
            </div>
            <div class="c_box">
                <ion-checkbox [checked]="item?.value === 1" [disabled]="item?.disable" slot="end"></ion-checkbox>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="col-md-2"></div>
  </div>

</ion-content>