<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)" #scrollContent>
	<toolbar slot="fixed" [back]="true" [inputChanges]="confirmedExit"
		[title]="pageTitleName ? ('plan-create.editPlan' | translate) : ''" (click)="goBack()">
	</toolbar>
	<div class="container nopadding" id="container">
		<div class="row graybg">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h1 class="title">{{ 'plan-create.editPlan' | translate }}</h1>
				<hr class="hr-pc mtop">
				<!-- goToselectImg -->
				<div *ngIf="_globalServ.planImagePath == null" (click)="goToselectImg()" class="box-center-full">
					<span [ngClass]="{'circle-req':_globalServ.planImagePost == null && post == true}" class="circle">
						<span class="icon fas fa-camera"></span>
					</span><span class="req" *ngIf="!_globalServ.planImagePath">*</span>
				</div>
				<!-- src="{{url}}/get-image/{{imageUrl}}" -->
				<img class="image-plan" (click)="goToselectImage()" *ngIf="_globalServ.planImagePath != null"
					[src]="_globalServ.planImagePath">
				<hr class="hr-pc mbottom">

				<form (click)="validate()">


					<ion-item-divider mode="md">
						<ion-label *ngIf="!title" class="plan-create-label">{{ 'plan-create.title' | translate }}<span
								class="req">*</span></ion-label>
						<ion-input [(ngModel)]="title" [formControl]="myForm.get('title')"
							(keyup.enter)="hideKeyboard()" (ionInput)="validate()" style="color: #000;">
						</ion-input>
					</ion-item-divider>
					<ion-item-divider mode="md">
						<ion-label *ngIf="!location" class="plan-create-label">
							{{ 'plan-create.location' | translate }}<span class="req">*</span></ion-label>
						<div id="pac-container">
							<ion-input id="googlePlaces" [(ngModel)]="location" [formControl]="myForm.get('location')"
								(keyup.enter)="hideKeyboard()" (ionInput)="validate()" style="color: #000;">
							</ion-input>
						</div>
					</ion-item-divider>
					<ion-item-divider mode="md">
						<ion-label *ngIf="!meetingPoint" class="plan-create-label">
							{{ 'plan-create.meeting-point' | translate }}<span class="req">*</span></ion-label>
						<div id="pac-container">
							<ion-input id="googlePlacesM" [(ngModel)]="meetingPoint"
								[formControl]="myForm.get('meetingPoint')" (keyup.enter)="hideKeyboard()"
								(ionInput)="validate()" style="color: #000;">
							</ion-input>
						</div>
					</ion-item-divider>
					<hr class="hr-pc mtop">
					<!-- <ion-item (click)="getPlanType()" lines="none">
						<label style="font-size: 17px;"
							position="fixed">{{ 'plan-create.planType' | translate }}</label>
						<span *ngIf="!planType " slot="end" style="font-size: 17px;" class="secondary-text">
							{{ 'plan-create.pick' | translate }} <span class="fas fa-chevron-right"></span>
						</span>

						<span *ngIf="planType" slot="end" style="font-size: 17px;" class="secondary-text">
							{{ planType }}
						</span>
					</ion-item> -->

					<ion-item (click)="getPlanCreatedBy()" lines="none">
						<label style="font-size: 17px;"
							position="fixed">{{ 'plan-create.createBy' | translate }}</label>
						<span slot="end" style="font-size: 17px;" class="secondary-text">
							{{ createdBy }} <span *ngIf="createdBy =='Pick' || createdBy =='Recoger'"
								class="fas fa-chevron-right"></span>
						</span>
					</ion-item>

					<ion-item lines="none">
						<label style="font-size: 17px;" position="fixed"><span class="req"
								*ngIf="planDate == null && post == true">*</span>
							{{ 'plan-create.planDate' | translate }}</label>
						<span slot="end" style="font-size: 17px;text-align: end;" class="secondary-text">
							<!-- <span *ngIf="planDateval == null">{{ 'plan-create.pick' | translate }}</span> -->
							<!-- <span *ngIf="planDate != null">{{planDate | date:'MM/dd/yy'}}</span> -->
							<!-- <span *ngIf="planDateval == null" class="fas fa-chevron-right"></span>  -->
							<!-- <ion-datetime [value]="planDate" [(ngModel)]="planDate" displayFormat="DDDD DD/MM/YYYY"
								class="" [ngModelOptions]="{standalone: true}">
              </ion-datetime> -->
              
              <ion-input class='ionic4datePicker' style="text-align: end;" readonly [(ngModel)]="planDate" [ngModelOptions]="{standalone: true}"  [liIonic4Datepicker]="datePickerObj" style="color:#888"></ion-input>

						</span>

					</ion-item>


					<!-- <ion-item>
						<ion-select [(ngModel)]="selectedDay">
							<ion-option [value]="day" *ngFor="let day of daysOfWeek">{{ day }}</ion-option>
						</ion-select>
					</ion-item> -->

					<ion-item lines="none">
						<label style="font-size: 17px;"
							position="fixed">{{ 'plan-create.limitDate' | translate }}</label>

						<span slot="end" style="font-size: 17px;" class="secondary-text">
							<ion-datetime [value]="limitDate" [(ngModel)]="limitDate" display-format="HH:mm" class=""
								[ngModelOptions]="{standalone: true}"></ion-datetime>
							<!-- {{ 'plan-create.noLimitDate' | translate }} <span class="fas fa-chevron-right"></span> -->
						</span>
					</ion-item>

					<ion-item (click)="getSupercategory()" lines="none">
						<label style="font-size: 17px;" position="fixed">{{ 'plan-create.category' | translate }}<span
								class="req" *ngIf="!category?.length">*</span></label>
						<span slot="end" style="font-size: 17px;" class="secondary-text" *ngIf="category.length<1">
							{{ 'plan-create.pickCategory' | translate }} <span class="fas fa-chevron-right"></span>
						</span>
						<span slot="end" style="font-size: 17px;    white-space: pre-line;" class="secondary-text"
							*ngIf="category.length>0">
							{{ category[0].name_EN | slice: 0: 10}} <span
								*ngIf="category.length>1 &&_globalServ?.language == 'en'">... and
								{{category.length-1}} more</span>
							<span class=" fas fa-chevron-right"></span>
						</span>
						<span slot="end" style="font-size: 17px;    white-space: pre-line;" class="secondary-text"
							*ngIf="category.length>0 &&_globalServ?.language == 'es'">
							{{ category[0].name_ES | slice: 0: 10}} <span *ngIf=" category.length>1">... and
								{{category.length-1}} more</span>
							<span class="fas fa-chevron-right"></span>
						</span>

						<!-- <div  *ngIf="pick && _globalServ.language =='es'" (click)="createCategory()" class="secondary-text" style="display: flex;flex-direction: row;width: max-content; justify-content: flex-end">
							<ion-label style="font-size: 15pt;">{{ category[0]?.name_ES | slice: 0: 10}}</ion-label>
							<ion-label style="font-size: 15pt;" *ngIf="category.length>1">... and {{category.length-1}} more <span class="fas fa-chevron-right"></span></ion-label>
						</div>
			
						<div *ngIf="pick && _globalServ.language =='en'"  (click)="createCategory()" class="secondary-text" style="display: flex;flex-direction: row;width: max-content; justify-content: flex-end">
							<ion-label style="font-size: 15pt;">{{ category[0]?.name_EN | slice: 0: 10}}</ion-label>
							<ion-label style="font-size: 15pt;" *ngIf="category.length>1">... and {{category.length-1}} more <span class="fas fa-chevron-right"></span></ion-label>
						</div> -->

					</ion-item>

					<ion-item (click)="getavalibleSeats()" lines="none">
						<label style="font-size: 17px;"
							position="fixed">{{ 'plan-create.avalibleSeats' | translate }}</label>
						<span *ngIf="avalibleSeats === -1" slot="end" style="font-size: 17px;" class="secondary-text">
							{{ 'plan-create.noLimits' | translate }} <span class="fas fa-chevron-right"></span>
						</span>
						<span *ngIf="avalibleSeats !== -1" slot="end" style="font-size: 17px;" class="secondary-text">
							{{ avalibleSeats }} <span class="fas fa-chevron-right"></span>
						</span>
					</ion-item>

					<ion-item (click)="getPrice()" lines="none">
						<label style="font-size: 17px;" position="fixed">{{ 'plan-create.price' | translate }}</label>
						<span *ngIf="!price " slot="end" style="font-size: 17px;" class="secondary-text">
							{{ 'plan-create.free' | translate }} <span class="fas fa-chevron-right"></span>
						</span>

						<span *ngIf="price" slot="end" style="font-size: 17px;" class="secondary-text">
							{{ price }}
						</span>
					</ion-item>


					<!-- <ion-item lines="none" (click)="invitePeople()">
						<label style="font-size: 17px;">{{ 'group-create.invitePeople' | translate }}</label>
						<span style="font-size: 17px;" class="secondary-text" (click)="invitePeople()" slot="end" *ngIf="!_globalServ.invited">
							{{ 'group-create.invite' | translate }} <span class="fas fa-chevron-right"></span>
						</span>
						<span style="font-size: 17px;" class="secondary-text" (click)="invitePeople()" slot="end" *ngIf="_globalServ.invited">
							{{_globalServ.invited}} People {{ 'group-create.invited' | translate }} 
							<span class="fas fa-chevron-right"></span>
						</span>
					</ion-item> -->

					<hr class="hr-pc mbottom">
					<!-- <ion-item lines="none"> -->
						<ion-label *ngIf="!details" class="plan-create-details">
							{{ 'plan-create.details' | translate }}<span class="req">*</span></ion-label>
						<ion-textarea class="plan-details-area" [(ngModel)]="details" 
							[formControl]="myForm.get('details')" (keyup.enter)="hideKeyboard()"
							(ionInput)="validate()" style="color: #000;">
						</ion-textarea>
					<!-- </ion-item> -->
					<hr class="hr-pc mtop">

					<div class="box-center-full btn-pc-box" *ngIf="!validated">
						<ion-button class="button-one" shape="round" disabled>
							<span>{{ 'plan-create.editPlan' | translate }}</span>
						</ion-button>
					</div>

					<div class="box-center-full btn-pc-box" *ngIf="validated">
						<ion-button *ngIf="done" (click)="save(myForm.value)" class="button-one" shape="round">
							<span>{{ 'plan-create.editPlan' | translate }}</span>
						</ion-button>

						<ion-button *ngIf="!done" class="button-one" shape="round">
							<img src="assets/img/load.gif" style="height: 64px">
						</ion-button>

					</div>

				</form>

			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</ion-content>