.hr-pc{
    width: 1500px !important;
  background: #e0e0e0 !important;
  display: block !important;
  margin-left: -400px;
  visibility: visible !important;
  margin-bottom: 0;
  margin-top: 0;
}
.mtop {
  margin-top: 15px;
}

.mbottom {
  margin-bottom: 15px;
}
.title {
  padding: 15px 15px;
  background: white;
  margin-top: 0px;
}
.nopadding {
  padding: 0;
}
.box-center-full {
  background: white;
  padding: 30px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  .circle{
      border-radius: 60px;
      box-shadow: 0px 0px 2px #c8c7cc;
      width: 88px;
      height: 88px;
      display: flex;
      justify-content: center;
      align-items: center;
      .icon{
          margin-top: 0px;
      }
  }
}
.pc-margin-top{
  margin-top: 34pt;
  margin-bottom: 20pt;
}
.graybg {
  background: #f9f9f9;
}
ion-input{
  font-size: 17px;
  font-family: SF Pro Regular;
}



.plan-details-area {
  font-size: 17px;
  color: #c8c7cc;
  background: white;
  padding: 0px 15px;
}

.btn-pc-box{
  // margin-top: 32pt;
  margin-bottom: 36pt;
      background: none !important;
}

.image-plan{
  width: 100%;
  height: 259pt;
  border-radius: 10px;
}

#pac-container {
      padding-bottom: 12px;
      margin-right: 12px;
    }


ion-content{
  -webkit-overflow-scrolling: touch;
}
.container{
  margin-top: 80px;
}

.secondary-text{
  .fas{
      color: #c8c7cc;
      font-size: 14px;
  }
}

ion-input, ion-textarea {
  --placeholder-color: #ddd;
  --placeholder-opacity: 1;
}

.native-input, .native-textarea {
  color: #000;
}

.plan-create-details {
position: absolute;
z-index: 99;
padding: 10px;
left: 20px;
color: grey;
}

textarea.native-textarea.sc-ion-textarea-ios {
    height: auto !important;
}

.plan-create-label {
position: absolute;
margin-top: 2px;
font-size: 16px;
}
li-ionic4-datepicker-modal .header-ios{
    height:70px !important;
  }
  input.native-input.sc-ion-input-ios {
    text-align: end;
}