/*.btn-back-content-item{
    height: 75px;
    position: fixed;
    margin-top: 15px;
    margin-left: 15px;
    z-index: 9999;
    //background: rgba(255,255,255,0.8);.
    text-align: center;
}

.btn-back-item{
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px rgba(255,255,255,0.8);
    padding: 3px 3px;
    width: 21px;
    background: rgba(255,255,255,0.8);
}*/

.admin_namelbl{
    color: #d2d0d0;
    font-size: 12px;
    padding-top: 0px;
    margin-top: 0px;
    font-weight: normal;
}
.box-center-full{
    margin-top: 35px;
    margin-bottom: 25px;
}
.map-one{
   margin-top: 20px;
}


table{
    margin-top: 24pt;
}

/*.sc-ion-card-md-h {
    margin-left: 0px; 
     margin-right: 0px;
     margin-top: 0px; 
     border-radius: 0px;
}*/

/*.item-avatar-card.hydrated{
    --inner-border-width: 0;
    --padding-start: 0;
}*/

.members-avatar {
    width: 24px;
    height: 24px;
    border-radius: 32px;
    margin-right: 5px;
}
.comment-avatar {
    width: 40px;
    height: 40px;
    border-radius: 53px;
    margin-right: 10px;
    border: solid 1px #dedede;
}
.comment-body {
    display: flex;
    align-items: flex-start;
    padding: 10px 5px;
    padding-left: 0px;
    width: 90%;
}
.comment-name {
    font-weight: bold;
    margin-right: 10px;
}
.add-comment-section {
    font-size: 14px;
    font-family: 'SF Pro Medium';
    // text-align: center;
    // margin-left: 65px;
    // margin-top: 11px;
    letter-spacing: 1px;
}
.add-comment {
    // font-weight: bold;
}
.more-member {
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 10px;
    background-color: #f4f5f8;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    line-height: 24px;
}

.title-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.invite-member {
    color: rgb(0, 156, 215);
    font-weight: normal;
    font-size: 17px;
}

.member-h-icon {
    width: 20px;
}
h2{
    font-size: 20px;
    margin-left: 8px;
}
.title-item{
    font-family: 'SF Pro Regular';
}
.comment-text{
    font-size: 14px;
}
.weight-normal{
    font-weight: normal;
}
table{
    margin-left: 12px;
}
.icon-item{
    margin-right: 4px;
    font-size: 18px;
    margin-top: 2px;
}
.comment-text-div{
    line-height: 16px;
    font-weight: 300;
    font-family: 'SF Pro Light';
    text-align: justify !important;
    margin-top: 10px;
}
.secondary-text{
    line-height: 1.38;
  word-break: break-word;
}
.col-md-8{
    margin-bottom: 50px;
}
.view_lbl{
    display: block;
    text-align: right;
    padding-right:10px;
    font-size: 14px;
    font-family: 'SF Pro Medium';;
    letter-spacing: 1px;
}

.calendarTable{
    position: relative;
    width: 100%;
}

.viewCalander{
    position: absolute;
    bottom: 0px;
    right: 30px;
    color: #888;
}

.trPlans{
    display: flex;
}
ion-segment{
    border-bottom: 1px solid var(--ion-color-light-shade);
}
ion-segment-button{
    font-size: 16px;
    color: var(--ion-color-light-shade);
    border-bottom: 1px solid var(--ion-color-light-shade);
    border: 0px;
    border-radius: 0px;
}
.segment-button-checked{
    background: #FFF;
    color: var(--ion-color-dark);
    border-bottom: 1px solid var(--ion-color-dark);
}