.spinner-div {
	text-align: center;
  // margin: 15px;
}

ion-content{
	-webkit-overflow-scrolling: touch;
}
.container{
	margin-top: 80px;
}
.col-md-8{
	padding-left: 8px;
	padding-right: 8px;
}
.title{
	font-size: 30px;
    font-family: 'SF Pro Bold';
    letter-spacing: -0.72px;
}
h1{
	margin-bottom: -5px;
	margin-top: 1px;
}

.col-md-8{
	margin-bottom: 100px;
}