<ion-content>
  <div class="container nopadding">
    <div class="row graybg">
      <div class="col-md-2"></div>
      <div class="col-md-8 success-container">

        <div class="msgicon">
          <div class="icon">
            <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
          </div>
          <div class="comment">
            {{ 'plan-create-success.successMsg' | translate }}
          </div>

          <div style="    margin-top: 82px;    margin-bottom: 26px;">
            <div>
              <a style="width: 123px;
    height: 24px;
    font-family: SF Pro Regular;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #009cd7;
    border-bottom: 1px solid #009cd7;"
                (click)="invitePeople()">{{ 'plan-create-success.inviteFriends' | translate }}</a>
            </div>
            <div>
              <p style="margin-top: 42px;"> Or </p>
            </div>
            <div class="msg">
              {{ 'plan-create-success.invite' | translate }}
            </div>
            <ion-row style="margin-top: 29px;">
              <ion-col>
                <div (click)="share('whatsapp')">
                  <img src="assets/img/whats-app@2x.png">
                  <p style="  color: #25d366;">Whatsapp</p>
                </div>
              </ion-col>
              <!-- <ion-col>
                <div (click)="share('messanger')">
                  <img src="assets/img/messenger@2x.png">
                  <p style="  color: #0084ff;">Messenger</p>
                </div>
              </ion-col> -->
              <ion-col>
                <div (click)="share('sms')">
                  <img src="assets/img/mail@2x.png">
                  <p style="      padding-top: 1px;color: #0971bd;">SMS</p>
                </div>
              </ion-col>
            </ion-row>
          </div>
        </div>

        <div class="box-center-full btn-pc-box">

          <ion-button (click)="continue()" class="button-one" shape="round">
            <span>{{ 'plan-create-success.continue' | translate }}</span>
          </ion-button>
        </div>

      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</ion-content>