<ion-content>
  <div [ngClass]="{'background-image-ie':_globalServ?.org === 'IE','background-image-ceu':_globalServ?.org === 'CEU'}">
    <div class="half-page"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <ion-row>
            <ion-col></ion-col>
            <ion-col size="9" style="margin-top: -45px;">
              <form >
               
                <!-- ************* Chnages by Ashwin ********** -->
                <h4  text-center class="loginText">LET'S START</h4>
               
                <img src="assets/img/login_icon.png" class="img-login" (click)="tutorial()"/>
              </form>
             
            </ion-col>
            <ion-col></ion-col>
          </ion-row>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</ion-content>