<ion-content>
	<toolbar  slot="fixed" [title]="'plan-create.planType' | translate" [back]="true">
	</toolbar>
	<div class="settings-screen">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
        <ion-radio-group allow-empty-selection [(ngModel)]="planTypeValue">
          <ion-item class="checkbox-item" lines="none" (click)="changePlan()">
            <ion-label>{{ 'plan-type.public' | translate }}</ion-label>
            <ion-radio [ngClass]="{'checked': planTypeValue === 1}" [value]="1" slot="end" [checked]="planTypeValue === 1"></ion-radio>
          </ion-item>
          <ion-item lines="none" (click)="changePlan()">
            <ion-label>{{ 'plan-type.private' | translate }}</ion-label>
            <ion-radio [ngClass]="{'checked': planTypeValue === 2}" [value]="2" slot="end" [checked]="planTypeValue === 2"></ion-radio>
          </ion-item>
        </ion-radio-group>
			</div>
			<div class="col-md-2"></div>
		</div>
  </div>
  <div class="note-container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <span class="note">{{ 'plan-type.publicPlan' | translate }}</span>
        <span class="note">{{ 'plan-type.privatePlan' | translate }}</span>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</ion-content>