<ion-content>
  <toolbar slot="fixed" title="{{ 'offers-discounts-item.code' | translate }}" [back]="true"></toolbar>

  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">

        <ion-card>
            <div class="card-img-container">
              <div class="bg-img" [style.backgroundImage]="'url('+ item_info.image + ')'"></div>
            </div>
        </ion-card>

        <ion-label class="title_name">{{item_info.title}}</ion-label>

        <ion-label class="title_code ion-text-center">{{item_info.discountCode}}</ion-label>
        <!-- <div class="code box-center-full">
          {{item_info.discountCode}}
        </div> -->
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

</ion-content>