/*.btn-back-content-item{
    height: 75px;
    position: fixed;
    margin-top: 15px;
    margin-left: 15px;
    z-index: 9999;
    //background: rgba(255,255,255,0.8);.
    text-align: center;
}

.btn-back-item{
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px rgba(255,255,255,0.8);
    padding: 3px 3px;
    width: 21px;
    background: rgba(255,255,255,0.8);
}*/
.btn-instagram{
    font-size: 14px;
    background: #EBC8DC;
    color: #C13584;
}
.box-center-full{
    margin-top: 24px;
    margin-bottom: 18px;
}

.map-one{
   margin-top: 20px;
}

table{
    margin-top: 21pt;
}
.blue-text {
    font-size: 12px;
    margin-top: 10px;
}
/*.sc-ion-card-md-h {
    margin-left: 0px; 
     margin-right: 0px;
     margin-top: 0px; 
     border-radius: 0px;
}*/

/*.item-avatar-card.hydrated{
    --inner-border-width: 0;
    --padding-start: 0;
}*/


.item-title{
    font-family: 'SF Pro Heavy' !important;
    font-size: 20px;
}
.title-item{
    font-family: 'SF Pro Medium' !important;
    font-size: 16px;
}
.secondary-text{
    font-size: 13px;
}
