<ion-content>
  <div (click)="goBack()" class="btn-back-content-item" [ngClass]="{'btn-back-content-item-ios':_globalServ?.iosDivice}">
    <span class="btn-back-item fas fa-chevron-left"></span>
  </div>
  <div class="main-item-image" style="position: relative" >
      <app-img-with-loader style="position: static"
      [src]="url+'/get-image/'+getItem?.event?.image" 		 
      (click)="presentModal()"  >
     </app-img-with-loader>	    
  </div>  
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">

        <div class="item-title">
          <h2>
            <span *ngIf="_globalServ?.language == 'en'">{{getItem?.event?.name_EN}}</span>
            <span *ngIf="_globalServ?.language == 'es'">{{getItem?.event?.name_ES}}</span>
          </h2>
        </div>
        <div class="box-center-full">
          <div class="box-blue-circle" (click)="goToCreatePlan()">
            <img width="48px" height="48px" src="assets/img/plan.png">
            <div class="blue-text">{{ 'city-agenda-item.createPlan' | translate }}</div>
          </div>
        </div>
        <table>
          <tr class="weight-600">
            <td>
              <ion-icon class="icon-item" name="information-circle"></ion-icon>
            </td>
            <td class="title-item">{{ 'city-agenda-item.details' | translate }}</td>
          </tr>
          <tr>
            <td></td>
            <td class="secondary-text">
              <span
                *ngIf="_globalServ?.language == 'en' && (truncating && getItem?.event?.description_EN.length > limit)">{{getItem?.event?.description_EN | truncate : limit}}</span>
              <span
                *ngIf="_globalServ?.language == 'es' && (truncating && getItem?.event?.description_ES.length > limit)">{{getItem?.event?.description_ES | truncate : limit}}</span>

              <span
                *ngIf="_globalServ?.language == 'en' && (!truncating && getItem?.event?.description_EN.length > limit)">{{getItem?.event?.description_EN}}</span>
              <span
                *ngIf="_globalServ?.language == 'es' && (!truncating && getItem?.event?.description_ES.length > limit)">{{getItem?.event?.description_ES}}</span>
            </td>
          </tr>
          <tr *ngIf="truncating">
            <td></td>
            <td class="blue-text size-18-pt" (click)="truncating = false">{{ 'city-guide-item.readMore' | translate }}
            </td>
          </tr>
          <tr *ngIf="!truncating">
            <td></td>
            <td class="blue-text size-18-pt" (click)="truncating = true">{{ 'city-guide-item.readless' | translate }}
            </td>
          </tr>
          <!-- <tr>
            <td></td>
            <td class="blue-text size-18-pt">{{ 'city-agenda-item.readMore' | translate }}</td>
          </tr> -->
        </table>

        <table>
          <tr class="weight-600">
            <td>
              <ion-icon class="icon-item" name="clock"></ion-icon>
            </td>
            <td class="title-item">{{ 'city-agenda-item.dateAndTime' | translate }}</td>
          </tr>
          <tbody *ngFor="let item of getItem?.event?.hours; let i = index">
            <tr class="secondary-text" *ngIf="i%2 == '0'">
              <td></td>
              <td><b>{{item}}</b></td>
            </tr>
            <tr class="secondary-text" *ngIf="i%2 == '1'" style="padding-bottom: 10px">
              <td></td>
              <td style="padding-bottom: 10px">{{item}}</td>
            </tr>
            </tbody>
          </table>

        <table>
          <tr class="weight-600">
            <td>
              <ion-icon class="icon-item" name="pin"></ion-icon>
            </td>
            <td class="title-item">{{ 'city-agenda-item.location' | translate }}</td>
          </tr>
          <tbody *ngFor="let item of getItem?.event?.Places">
            <tr class="secondary-text" >
              <td></td>
              <td *ngIf="_globalServ?.language == 'en'">{{item?.name_EN}} , {{item?.street}}</td>
              <td *ngIf="_globalServ?.language == 'es'">{{item?.name_ES}} , {{item?.street}}</td>
            </tr>
            
            <tr class="secondary-text">
              <td></td>
              <td>{{item?.street}} {{item?.number}}</td>
            </tr>
            <tr>
              <td></td>
              <td>
                <ion-chip class="btn-blue-general" (click)="goToSite()">
                  <ion-label>{{ 'city-agenda-item.website' | translate }}</ion-label>
                </ion-chip>
                <ion-chip class="btn-blue-general">
                  <a href="https://www.google.com/maps/place/{{item?.latitude}},{{item?.longitude}}">
                    <ion-label>{{ 'city-agenda-item.directions' | translate }}</ion-label>
                  </a>
                </ion-chip>
              </td>
            </tr>
          </tbody>

                </table>

        <div class="box-map-one">
          <div id="map" class="map-one" #map></div>
        </div>
        <table>
          <tr class="weight-600">
            <td>
              <ion-icon class="icon-item" name="ios-pricetag"></ion-icon>
            </td>
            <td class="title-item">{{ 'city-agenda-item.price' | translate }}</td>
          </tr>
          <tr *ngFor="let item of getItem?.event?.Places" class="secondary-text">
            <td></td>
            <td *ngIf="_globalServ?.language == 'en'">{{item.price_EN}}
              <!-- <span *ngIf="item?.price_EN != ''">({{item?.name_EN}})</span> -->
            </td>
            <td *ngIf="_globalServ?.language == 'es'">{{item.price_ES}}
              <!-- <span *ngIf="item?.price_ES != ''">({{item?.name_ES}})</span> -->
            </td>
          </tr>
          
        </table>

                      <table class="margin-last-table">
                        <tr class="weight-600">
                          <td>
                            <ion-icon class="icon-item" name="ios-share"></ion-icon>
                          </td>
                          <td class="title-item">{{ 'city-agenda-item.share' | translate }}</td>
                        </tr>
                        <tr class="secondary-text" *ngFor="let item of getItem?.event?.Places">
                          <td></td>
                          <td>
                            <ion-chip class="btn-facebook" (click)="facebookShare()">
                              <ion-label>Facebook</ion-label>
                            </ion-chip>
                            <ion-chip class="btn-twitter" (click)="twitterShare()">
                              <ion-label>Twitter</ion-label>
                            </ion-chip>
                             <a (click)="mailShare()" target="_top">
                            <ion-chip class="btn-email">
                              <ion-label>Email</ion-label>
                            </ion-chip></a>
                            <ion-chip class="btn-whatsapp" (click)="whatsappShare()">
                              <ion-label>WhatsApp</ion-label>
                            </ion-chip>
                             <ion-chip class="btn-instagram" (click)="instagramShare()">
                             <ion-label>Instagram</ion-label>
                              </ion-chip>
                          </td>
                        </tr>
                       
                        </table>

                      </div>
                      <div class="col-md-2"></div>
                    </div>
                  </div>
                </ion-content>