<ion-content>
  <toolbar slot="fixed"
    [title]="'plan-create.avalibleSeats' | translate"
    [back]="true"
    [price]="true"
  >
  </toolbar>
  <div class="container settings-screen">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <ion-item-divider mode="md">
          <ion-input [(ngModel)]="PlanCreateSeatsValue" type="number" (input)="seatValueChanged($event.target.value)" placeholder="{{ 'plan-create.avalibleSeats' | translate }}"></ion-input>
        </ion-item-divider>
          <ion-item-divider mode="md" style="padding-left: 28px;">
              <ion-checkbox [(ngModel)]="noLimits" (ionChange)="getLimits()"></ion-checkbox>
              <ion-label margin style="font-size: large;
    font-family: sans-serif;
    color: black;">{{ 'plan-create.noLimits' | translate }}</ion-label>
          </ion-item-divider>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</ion-content>